{% spaceless %}
    <!DOCTYPE html>
    <html lang="fr">
        <head>
            {% include 'SceauBundle:Site/Common:header.html.twig' %}
            {% block CSS %}{% endblock %}
        </head>
        <body class="fs">
            <div id="container">
                <div id="header">
                    {% include 'SceauBundle:Site/Common:topblock.html.twig' %}
                </div>
                {% block CONTENT %}{% endblock %}
                <div id="footer">
                    {% include "SceauBundle:Site/Common:footer.html.twig" %}
                </div>
           </div>
        </body>
        
        {% javascripts
            'bundles/sceau/js/site/home/annuaire.js'
            'bundles/sceau/js/site/home/mdr.js'
            'bundles/sceau/js/site/common/jquery-1.4.2.min.js'
            'bundles/sceau/js/site/home/XHRConnection.js'
            'bundles/sceau/js/site/home/popup.js'
            'bundles/sceau/js/site/home/confirm.js'
            'bundles/sceau/js/site/home/membre.js'
            'bundles/sceau/js/site/home/SliderSitePremium.js'
            'bundles/sceau/js/site/common/commun.js'
            'bundles/sceau/js/site/common/jquery-ui.js'
            'bundles/sceau/js/site/common/jquery-tools.js'
            'bundles/sceau/js/site/home/avatar.js'
            'bundles/sceau/js/site/home/home.js'
           'bundles/sceau/js/site/user/update.js'%}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}

        {% block JAVASCRIPT %}
                <script type="text/javascript">
                    (function() {
                        $("#newsletter-success-popup").overlay({
                            effect: 'default',
                            top: 'center',
                            mask: {
                                color: '#000000',
                                loadSpeed: 200,
                                opacity: 0.5
                            },
                            close: '#mon-compte-popup-close',
                            closeOnClick: true,
                            load: true,
                            oneInstance: true
                        });
                    })();
                </script>
        {% endblock %}
    </html>
    
{% endspaceless %}