{% spaceless %}
    <!DOCTYPE html>
    <html lang="fr">
        <head>
            {% include 'SceauBundle:Admin/Common:header.html.twig' %}
        </head>
        <body style="background-color:#d9e0e7;">
            <!-- begin #page-loader -->
            <div id="page-loader" class="fade in"><span class="spinner"></span></div>

            <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">


                {# nav-top #}
                <div id="header" class="header navbar navbar-default navbar-fixed-top">
                    {% include 'SceauBundle:Admin/Common:nav-top.html.twig' %}
                </div>

                {# sidebar #}
                <div id="sidebar" class="sidebar">
                    {% include 'SceauBundle:Admin/Common:nav-side.html.twig' %}
                </div>
                <div class="sidebar-bg">  
                </div>

                {# content #}
                <div id="content" class="content">
                    {% block CONTENT %}{% endblock %}
                </div>
            </div>
            {% include 'SceauBundle:Admin/Common:js-global.html.twig' %}

            <script type="text/javascript">
                $(document).ready(function() {
                    App.init();
                    Dashboard.init();
                    $('.datepicker').datepicker({
                        format: 'yyyy-mm-dd'
                    });

                });
            </script>
            {% block JAVASCRIPT %}

            {% endblock %}
        </body>
    </html>

{% endspaceless %}