{% extends 'SceauBundle:Emails/Questionnaires:livraison_service.html.twig' %}

{% trans_default_domain 'emails_questionnaires' %}

{% block relance_intro %}<br /><span style="color:#FF0000;">Nous attendons toujours votre avis !</span><br />{% endblock %}

{% block relance_perso %}<br /><span id="js_relance_perso">##RELANCE_PERSO##</span><br /><br />{% endblock %}