<html>
    <head>
       <meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
    </head>
    <body bgcolor="#FFFFFF " style="margin:0; padding:0;">
    <table align="center" width="570" cellpadding="0" cellspacing="0" style="border:1px solid #B8B8B8 ;">
        <tr>
            <td height="60"><a style="color: #52AE35 ;" href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[{{ xiti_template }}]--[Homepage]&url=http://www.fia-net.com/"><img border="0" src="http://www.fia-net.com/img/emails/new_header.jpg"></a></td>
        </tr>
        <tr>
            <td style="padding:6px 6px 6px 15px; color:#ffffff ; font-weight:normal; font-family:tahoma, verdana, arial; font-size:13px;  background-color: #dd0033 ;">
               {% block subject %}{% endblock %}
            </td>
        </tr>
        <tr>
            <td style="padding:15px; color:#57484d ; text-align:justify; font-family:tahoma, verdana, arial; font-size:11px;">
               {% block body %}{% endblock %}
            </td>
        </tr>
        <tr>
            <td style="padding:15px; color:#57484d ; text-align:justify; font-family:tahoma, verdana, arial; font-size:11px;">
               Cordialement,<br /><br />L'équipe FIA-NET<br /><br />
               <b>POST-SCRIPTUM : ne r&eacute;pondez pas &agrave; cet e-mail. Aucune r&eacute;ponse par e-mail ne sera trait&eacute;e.<br />
               Veuillez syst&eacute;matiquement utiliser le site <a style="color:#57484d ;" href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[{{ xiti_template }}]--[Homepage]&url=http://www.fia-net.com/">www.fia-net.com</a> et mettre &agrave; jour votre dossier dans votre espace de m&eacute;diation des litiges.<br />
               </b><br />
            </td>
        </tr>
        <tr>
            <td align="center" style="padding:5px; color:#FFFFFF ; font-family:tahoma, verdana, arial; font-size:10px; font-weight:bold;  background-color: #5b464b ;">
               FIA-NET | 3/5 rue Saint-Georges 75009 PARIS | Tél : 01.45.23.73.73 | <a style="color: #FFFFFF ; text-decoration: none;" href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[{{ xiti_template }}]--[Homepage]&url=http://www.fia-net.com/">www.fia-net.com</a>
            </td>
        </tr>
    </table>
    <img width='1' height='1' alt='' src='http://logi118.xiti.com/hit.xiti?s=487123&xto=EPR-5-[{{ xiti_template }}]--[]&type=email&' />
    </body>
</html>