<table cellpadding="2" cellspacing="0" style="font-size:11px;color:#57484d;">
	<tr><td  width="125">R&eacute;f&eacute;rence du litige : </td><td>#LITIGEID#</td></tr>
	<tr><td>Type de litige : </td><td>#TYPOLOGIE#</td></tr>
	<tr><td>Date d&#39;ouverture : </td><td>#DATEOUVERTURE#</td></tr>
	<tr><td>Internaute : </td><td>#MEMBRE#</td></tr>
	<tr><td>Adresse e-mail : </td><td>#MAILMEMBRE#</td></tr>
	<tr><td>N&deg; de commande : </td><td>#NUMCOMMANDE#</td></tr>
	<tr><td>Montant : </td><td>#MTCOMMANDE#</td></tr>
	<tr><td>Description : </td><td>#LITIGEDESC#</td></tr>
</table>