{% extends 'SceauBundle:Emails/Litiges/Marchand:base_marchand.html.twig' %}

{% block subject %}
	Votre client refuse votre proposition de cl&ocirc;ture du litige {{ litige.id }}
{% endblock %}

{% block body %}
	Madame&sbquo; Monsieur&sbquo;<br /><br />
	Nous revenons vers vous au sujet du litige n&deg;{{ litige.id }}.<br /><br />
	Vous avez adress&eacute; &agrave; l&#39;internaute une proposition de r&egrave;glement de ce litige.<br /><br />
	Ce dernier a r&eacute;pondu en contestant sa résolution.<br /><br />
	Afin de prendre connaissance de ses motivations et lui r&eacute;pondre, ou demander l&#39;arbitrage d&#39;un expert FIA-NET&sbquo; nous vous invitons &agrave; vous connecter &agrave; <a style="color: #52AE35;" style="color:#913935;" href="http://logi118.xiti.com/go.url?xts=487123&s2=7&xtor=EPR-5-[litige_marchand_refuscloture]--[Extranet_connexion]&url=https://www.fia-net.com/__extranet/">notre interface de gestion des litiges</a>.<br /><br />
	Il est maintenant de votre responsabilit&eacute; de reprendre la main sur ce dossier afin d&#39;&eacute;viter qu&#39;il soit clos en tant que non r&eacute;solu.<br /><br />
	Nous vous rappelons ci-dessous tous les &eacute;l&eacute;ments en notre possession concernant ce litige :<br /><br />
	{{ parent() }}
{% endblock %}