{% extends 'SceauBundle:Emails/Litiges/Marchand:base_marchand.html.twig' %}

{% block subject %}
	Cl&ocirc;ture du litige {{ litige.id }}
{% endblock %}

{% block body %}
	Madame&sbquo; Monsieur&sbquo;<br /><br />
	Nous revenons vers vous au sujet du litige n&deg;{{ litige.id }}.<br /><br />
	Nous vous informons que l&#39;expert FIA-NET a d&eacute;cid&eacute; de clore ce litige en votre faveur et de le consid&eacute;rer comme r&eacute;solu.<br /><br />
	Il viendra impacter favorablement votre note de résolution de litiges disponible sur votre <a style="color: #52AE35;" style="color:#913935;" href="http://logi118.xiti.com/go.url?xts=487123&s2=3&xtor=EPR-5-[litige_marchand_clotureexpert]--[Fiche_marchand]&url=http://www.fia-net.com/annuaire/#SITEID#/fiche.html">fiche marchand</a>.<br /><br />
	Plus aucune action n&#39;est n&eacute;cessaire sur ce dossier.<br /><br />
	Nous vous rappelons ci-dessous tous les &eacute;l&eacute;ments en notre possession concernant ce litige :<br /><br />
	{{ parent() }}
{% endblock %}