{% extends 'SceauBundle:Emails/Litiges/Marchand:base_marchand.html.twig' %}

{% block subject %}
	Cl&ocirc;ture du litige {{ litige.id }}
{% endblock %}

{% block body %}
	Madame&sbquo; Monsieur&sbquo;<br /><br />
	Nous revenons vers vous au sujet du litige n&deg;{{ litige.id }}.<br /><br />
	En effet&sbquo; l&#39;internaute &agrave; l&#39;origine de cette d&eacute;claration nous informe que ce dernier est r&eacute;solu.<br /><br />
	Il viendra donc impacter favorablement votre note de résolution de litiges disponible au sein de votre <a style="color: #52AE35;" style="color:#913935;" href="http://logi118.xiti.com/go.url?xts=487123&s2=3&xtor=EPR-5-[litige_marchand_clotureinternaute]--[Fiche_marchand]&url=http://www.fia-net.com/annuaire/#SITEID#/fiche.html">fiche marchand</a>.<br /><br />
	Rappel ci-dessous des &eacute;l&eacute;ments en notre possession concernant ce litige :<br /><br />
	{{ parent() }}
{% endblock %}