{% extends 'SceauBundle:Emails/Litiges/Marchand:base_marchand.html.twig' %}

{% block subject %}
	Attention! plus que 5 jours avant cl&ocirc;ture du litige n&deg;#LITIGEID# en non r&eacute;solu
{% endblock %}

{% block body %}
	Madame&sbquo; Monsieur&sbquo;<br /><br />
	Nous revenons vers vous au sujet du litige n&deg;#LITIGEID#.<br /><br />
	A ce jour&sbquo; vous n&#39;avez pas r&eacute;pondu &agrave; la derni&egrave;re demande d&#39;action ou d&#39;information qui vous a &eacute;t&eacute; faite le #LASTETAPEDATE# via notre interface de gestion des litiges.<br /><br />
	Nous attirons votre attention sur le fait que&sbquo; en l&#39;absence d&#39;action de votre part sous 5 jours suivant l&#39;envoi de ce pr&eacute;sent courrier &eacute;lectronique&sbquo; ce litige sera pris en compte en tant que non r&eacute;solu&sbquo; et impactera les statistiques disponibles au sein de votre <a style="color: #52AE35;" style="color:#913935;" href="http://logi118.xiti.com/go.url?xts=487123&s2=3&xtor=EPR-5-[litige_marchand_mailavantnonresolu]--[Fiche_marchand]&url=http://www.fia-net.com/annuaire/#SITEID#/fiche.html">fiche marchand</a>.<br /><br />
	Rappel ci-dessous des &eacute;l&eacute;ments en notre possession concernant ce litige :<br /><br />
	{% include 'SceauBundle:Emails/Litiges/Marchand:litige_marchand_references.html.twig' %}
{% endblock %}