{% extends 'SceauBundle:Emails/Litiges/Marchand:base_marchand.html.twig' %}

{% block subject %}
	Le litige {{ litige.id }} est maintenant clos en non r&eacute;solu
{% endblock %}

{% block body %}
	Madame&sbquo; Monsieur&sbquo;<br /><br />
	Nous revenons vers vous au sujet du litige n&deg;{{ litige.id }}.<br /><br />
	A ce jour&sbquo; vous n&#39;avez pas r&eacute;pondu &agrave; la derni&egrave;re demande d&#39;action ou d&#39;information qui vous a &eacute;t&eacute; faite le {{ litige.etapedate }} via notre interface de gestion des litiges.<br /><br />
	Nous vous avions invit&eacute; &agrave; r&eacute;pondre&sbquo; sous 8 jours&sbquo; au sein de notre interface de r&eacute;solution des litiges.<br /><br />
	Nous vous avons &eacute;galement relanc&eacute; par e-mail il y a 5 jours.<br /><br />
	Nous vous informons que ce litige sera pris en compte comme dossier non r&eacute;solu dans votre note de résolution de litiges disponible au sein de votre <a style="color: #52AE35;" style="color:#913935;" href="http://logi118.xiti.com/go.url?xts=487123&s2=3&xtor=EPR-5-[litige_marchand_nonresoluauto]--[Fiche_marchand]&url=http://www.fia-net.com/annuaire/#SITEID#/fiche.html">fiche marchand</a>.<br /><br />
	Plus aucune action concernant ce dossier n&#39;est d&eacute;sormais possible.<br /><br />
	Nous vous rappelons ci-dessous tous les &eacute;l&eacute;ments en notre possession concernant ce litige :<br /><br />
	{{ parent() }}
{% endblock %}