{% extends 'FIANETSceauBundle:Extranet:extranet.html.twig' %}

{% trans_default_domain 'extranet_questionnaires_relance_perso' %}

{% block title %}
    {{ parent() }} : {% trans %}titre_page{% endtrans %}
{% endblock %}

{% block extranet_body %}

    <h1>{% trans %}titre{% endtrans %}</h1>

{% endblock %}

{% block extranet_javascripts %}

{% endblock %}