@charset "utf-8";
/* CSS Document */

/*** Surcharge Jquery UI dialog ***/
.ui-dialog {
    padding: 0;
}

.ui-dialog-titlebar {
    border: 0;
}

.ui-dialog .ui-dialog-content {
    background-color: #cccccc;
}

/*** Surcharge tooltipster ***/
.tooltipster-default .tooltipster-content {
    font-size: 11px;
}

.tooltipster-default h1 {
    font-size: 12px;
    color: #eeeeee;
}
