{% extends "SceauBundle:Admin:modal.html.twig" %}

{% block modal_header %}

    <h4 class="modal-title">Détails de la réponse à la question n° {{ ticket.id }}</h4>

{% endblock %}

{% block modal_body %}

    {% form_theme ticketHistoriqueEmailDisabledForm 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form(ticketHistoriqueEmailDisabledForm) }}

{% endblock %}


