{% extends 'SceauBundle:Admin:layout.html.twig' %}

{% block CONTENT -%}

<div class="page-content page-content-ease-in">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Question internaute
                   {#  <small>Content Overview</small> #}
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-dashboard"></i> Question</li>
                    <li class="pull-right">
                        <div id="reportrange" class="btn btn-green btn-square date-picker">
                            <i class="fa fa-calendar"></i>
                            <span class="date-range"></span> <i class="fa fa-caret-down"></i>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <h1>Détails de la question #ID_QUESTION#</h1>
    <div class="row">
        {# BLOCK QUESTION #}
        <div class="col-lg-12">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title col-lg-6">
                        <h4>Détails de la question #ID_QUESTION# du #DATE_QUESTION#</h4>
                    </div>
                    <div class="portlet-widgets">
                        <span class="label green">Traitée</span>
                        <span class="label orange">En attente</span>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#defaultPortlet"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="defaultPortlet" class="panel-collapse collapse in">
                    <div class="col-lg-6">
                        <p>Question posée par : test</p>
                        <p>Email : test@test.com</p>
                        <p>Téléphone :</p>
                    </div>
                    <div class="col-lg-6">
                        <p>Type : erreur fiche marchand</p>
                        <p>Service affecté : Informatique Modifier</p>
                        <p>Etat :  En attente de traitement </p>
                        <p>Action : Une réponse doit être apportée à l'auteur du signalement ?</p>
                    </div>
                    <div class="portlet-body">
                        <p>Site concerné : #SITENAME#</p>
                        <p>#CONTENT#</p>
                    </div>
                </div>
                <div class="portlet-footer">
                    <!-- Reponse Modal Trigger -->
                    <button class="btn btn-default btn-md pull-right" data-toggle="modal" data-target="#reponseModal">
                        Répondre
                    </button>
                    {# <a class = "btn btn-green btn-md" href="#">Répondre</a> #}
                </div>
            </div>
        </div>

        {# BLOCK NOTE #}
        <div class="col-lg-12">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Note de la question #ID_QUESTION# (visible uniquement par FIA-NET)</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="defaultPortlet" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <p>#CONTENT#</p>
                    </div>
                </div>
                <div class="portlet-footer">
                    <a class = "btn btn-green btn-md" href="#">Ajouter une note</a>
                    <a class = "btn btn-default btn-md" href="#">Modifier</a>
                    <a class = "btn btn-red btn-md" href="#">Supprimer</a>
                </div>
            </div>
        </div>

        {# BLOCK HISTORIQUE #}
        <div class="col-lg-12">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Historique de la question #ID_QUESTION#</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="defaultPortlet" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <p>#CONTENT#</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-group">
            <a class = "btn btn-white" href="#">Question précédente</a>
            <a class = "btn btn-white" href="#">Retour </a>
            <a class = "btn btn-white" href="#">Question suivante</a>
        </div>

        
        <br>

        <!-- Réponse Modal -->
        <div class="modal fade" id="reponseModal" tabindex="-1" role="dialog" aria-labelledby="reponseModalModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="reponseModalLabel">Réponse à la question #ID_TICKET#</h4>
                    </div>
                    <div class="modal-body">
                        <div id="basicFormExample" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                {% form_theme formTicketReponse 'bootstrap_3_horizontal_layout.html.twig' %}
                                {{ form(formTicketReponse) }}
                            </div>
                        </div>
                        {# {{ form_widget(formTicketReponse)}} #}
                    </div>
                    {# <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-green">V</button>
                    </div> #}
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
            
    </div>
</div>


{% endblock %}


{% block JAVASCRIPT %}
    <script type="text/javascript">
        
        $('select').change(function() { 
            modeleType = $(this).val();
            if (modeleType) {
                $.ajax({
                    type: 'POST',
                    data: {'modeleType' : modeleType},          
                    url:  '{{path('question_reponse_modele', { 'id': 1 }) }}',      
                    success: function(response) {
                        var objectReponse = JSON.parse(response);
                        $('input#sujet').val(objectReponse.sujet);
                        $('textarea#message').val(objectReponse.message);  
                    }
                });
            } else {
                $('input#sujet').val('');
                $('textarea#message').val(''); 
            }
        });   

    </script>
{% endblock %}