# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver: pdo_pgsql
    database_host: loki
    database_port: 5439
    database_name: sceau
    database_user: sceau_user
    database_password: hello
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    locale: fr
    secret: RobertTenaif

    router.request_context.host: www.fia-net.ccm
    router.request_context.scheme: http
    router.request_context.base_url: /
