<!-- begin top-menu nav -->
<ul class="nav">
    <li>
        <a href="{{ path('extranet_accueil') }}">
            <i class="fa fa-laptop"></i>
            <span>Accueil</span>
        </a>
    </li>
    <li class="has-sub">
        <a href="javascript:;">
            <i class="fa fa-inbox"></i>
            <span>Statistiques</span>
        </a>
        <ul class="sub-menu">
            <li><a href="#">Avant livraison</a></li>
            <li><a href="#">Après livraison</a></li>
            <li><a href="#">Vos questions personnalisées</a></li>
            <li><a href="#">Vos acheteurs</a></li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:;">
            <i class="fa fa-inbox"></i>
            <span>Questionnaires</span>
        </a>
        <ul class="sub-menu">
            <li><a href="{{ path('extranet_questionnaires_questions_personnalisees') }}">Création de questions personnalisées</a></li>
            <li><a href="{{ path('extranet_questionnaires_questionnaires') }}">Questionnaires</a></li>
            <li><a href="{{ path('extranet_questionnaires_relance_questionnaires') }}">Relance des questionnaires</a></li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:;">
            <i class="fa fa-inbox"></i>
            <span>Echanges</span>
        </a>
        <ul class="sub-menu">
            <li><a href="#">Droit de réponse</a></li>
            <li><a href="#">Réseaux sociaux</a></li>
            <li><a href="#">Litiges</a></li>
        </ul>
    </li>
    <li class="menu-control menu-control-left">
        <a href="#" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
    </li>
    <li class="menu-control menu-control-right">
        <a href="#" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
    </li>
</ul>
<!-- end top-menu nav -->
