{% extends 'FIANETSceauBundle:Emails:base.html.twig' %}

{% block corps %}
    <td colspan="2" align="left" style="line-height:normal">
        <table width="480" align="center" border="0" cellspacing="0" cellpadding="0"  style="line-height:normal">
            <tr style="line-height:normal">
                <td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;"><strong>Bonjour,</strong><br />
                    {% block relance_intro %}{% endblock %}
                    <br /><strong>Vous avez r&eacute;cemment command&eacute; sur {{ variables.site_nom }}</strong><br />
                    Avant la livraison de votre commande ##NUMCOMMANDE##, nous souhaitons connaitre <strong>votre avis</strong> sur ce site.<br />&nbsp;
                    {% block relance_perso %}{% endblock %}
                </td>
            </tr>
            <tr style="line-height:normal">
                <td align="center" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b;">

                    <em>Deux minutes suffisent pour r&eacute;pondre &agrave; notre questionnaire de satisfaction.</em><br /><br />
                    <table align="center" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
                        <tr style="line-height:normal">
                            <td align="center" style="line-height:normal"><a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Questionnaire1_produits]&url=##URL##" ><img src="http://www.fia-net.com/img/emails/btn_questionnaire.png" width="185" height="24" alt="R&eacute;pondre au questionnaire" border="0" /></a></td>
                        </tr>
                        <tr style="line-height:normal">
                            <td height="30" align="center" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;"><a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Questionnaire1_produits]&url=##URL##"  style="line-height:normal; font-weight:bold; color:#52ae35;">##URL##</a></td>
                        </tr>
                    </table>
                    <br />
                    <em>Cliquez sur le lien ci-dessus, une nouvelle fen&ecirc;tre devrait s'ouvrir.</em>
                </td>
            </tr>
            <tr style="line-height:normal">
                <td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;">
                    <br /><strong>3 bonnes raisons de donner son avis :</strong><br />
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
                        <tr style="line-height:normal">
                            <td height="22" valign="middle" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/chevron.png" width="10" height="11" alt="chevron" /></td>
                            <td height="22" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Votre avis compte, et influence directement la notation de {{ variables.site_nom }}</td>
                        </tr>
                        <tr style="line-height:normal">
                            <td height="22" valign="middle" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/chevron.png" width="10" height="11" alt="chevron" /></td>
                            <td height="22" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Votre avis est visible sur <a target="_blank"   href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Homepage]&url=http://www.fia-net.com/" style="color:#52ae35;">FIA-NET.com</a> et aide des millions d'autres internautes.</td>
                        </tr>
                        <tr style="line-height:normal">
                            <td height="40" valign="top" style="line-height:normal; "><img src="http://www.fia-net.com/img/emails/chevron.png" width="10" height="11" alt="chevron" style="padding-top: 8px;" /></td>
                            <td height="40" valign="middle" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Pour vous remercier, nous organisons une tombola. <br /><strong>Plus de 30 chèques cadeaux sont en jeux !</strong></td>
                        </tr>
                    </table>
                    <br />
                    <a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Questionnaire1_produits]&url=##URL##"><img src="http://www.fia-net.com/img/emails/etape1-a.png" width="518" height="71" border="0" /></a><br /><br />
                    Merci d'avoir particip&eacute; &agrave; l'&eacute;valuation de {{ variables.site_nom }} !
                    <br />A tr&egrave;s bientôt pour le second questionnaire !
                    <br />
                </td>
            </tr>
        </table>
    </td>
{% endblock %}
