<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Sceau de confiance</title>
</head>
<body bgcolor="#aea3a7" style="margin:0px; padding:0px; background-color:#aea3a7;">
    {{ include('FIANETSceauBundle:Emails/Questionnaires:base1Corps.html.twig') }}
</body>
</html>