<table width="560" border="0" align="center" cellpadding="0" cellspacing="0" style="line-height:normal">
    <tr style="line-height:normal">
        <td bgcolor="#FFFFFF" style="border:#a3939a solid 1px; line-height:normal">
            <table align="center" width="520" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
                <tr style="line-height:normal">
                    <td height="15" colspan="2" align="left" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/pixel.png" width="1" height="1" alt="vide" /></td>
                </tr>
                <tr style="line-height:normal">
                    <td width="354" height="52" align="left" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/logo_fianet.png" width="140" height="38" alt="FIA-NET.com" /></td>
                    <td height="52"  align="right" style="line-height:normal">##ZONELOGO##</td>
                </tr>
                <tr style="line-height:normal">
                    <td colspan="2" align="left" style="line-height:normal">
                        <table border="0" align="right" cellpadding="0" cellspacing="0" width="480" style="line-height:normal">
                            <tr style="line-height:normal">
                                <td align="left" height="98" style="line-height:normal; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; color:#3e262b; font-size:12px;"><strong style="font-size:17px; line-height:12px;">QUESTIONNAIRES</strong><br />DONNEZ VOTRE AVIS !</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="line-height:normal">
                    <td colspan="2" align="left" style="line-height:normal">
                        <table width="480" align="center" border="0" cellspacing="0" cellpadding="0"  style="line-height:normal">
                            <tr style="line-height:normal">
                                <td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;"><strong>Bonjour,</strong><br />
                                    <br /><strong>Vous avez r&eacute;cemment command&eacute; sur ##SITENAME##.</strong><br />
                                    Avant la livraison de votre commande ##NUMCOMMANDE##, nous souhaitons connaitre <strong>votre avis</strong> sur ce site.<br />&nbsp;
                                </td>
                            </tr>
                            <tr style="line-height:normal">
                                <td align="center" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b;">
                                    <em>Deux minutes suffisent pour r&eacute;pondre &agrave; notre questionnaire de satisfaction.</em><br /><br />
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
                                        <tr style="line-height:normal">
                                            <td align="center" style="line-height:normal"><a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Questionnaire1_produits]&url=##URL##" ><img src="http://www.fia-net.com/img/emails/btn_questionnaire.png" width="185" height="24" alt="R&eacute;pondre au questionnaire" border="0" /></a></td>
                                        </tr>
                                        <tr style="line-height:normal">
                                            <td height="30" align="center" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;"><a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Questionnaire1_produits]&url=##URL##"  style="line-height:normal; font-weight:bold; color:#52ae35;">##URL##</a></td>
                                        </tr>
                                    </table>
                                    <br />
                                    <em>Cliquez sur le lien ci-dessus, une nouvelle fen&ecirc;tre devrait s'ouvrir.</em>
                                </td>
                            </tr>
                            <tr style="line-height:normal">
                                <td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;">
                                    <br /><strong>3 bonnes raisons de donner son avis :</strong><br />
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
                                        <tr style="line-height:normal">
                                            <td height="22" valign="middle" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/chevron.png" width="10" height="11" alt="chevron" /></td>
                                            <td height="22" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Votre avis compte, et influence directement la notation de ##SITENAME##</td>
                                        </tr>
                                        <tr style="line-height:normal">
                                            <td height="22" valign="middle" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/chevron.png" width="10" height="11" alt="chevron" /></td>
                                            <td height="22" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Votre avis est visible sur <a target="_blank"   href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Homepage]&url=http://www.fia-net.com/" style="color:#52ae35;">FIA-NET.com</a> et aide des millions d'autres internautes.</td>
                                        </tr>
                                        <tr style="line-height:normal">
                                            <td height="40" valign="top" style="line-height:normal; "><img src="http://www.fia-net.com/img/emails/chevron.png" width="10" height="11" alt="chevron" style="padding-top: 8px;" /></td>
                                            <td height="40" valign="middle" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Pour vous remercier, nous organisons une tombola. <br /><strong>Plus de 30 chèques cadeaux sont en jeux !</strong></td>
                                        </tr>
                                    </table>
                                    <br />
                                    <a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Questionnaire1_produits]&url=##URL##"><img src="http://www.fia-net.com/img/emails/etape1-a.png" width="518" height="71" border="0" /></a><br /><br />
                                    Merci d'avoir particip&eacute; &agrave; l'&eacute;valuation de ##SITENAME## !
                                    <br />A tr&egrave;s bientôt pour le second questionnaire !
                                    <br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="line-height:normal">
                    <td height="90"  colspan="2" align="left" style="line-height:normal">
                        <table border="0" align="center" cellpadding="0" cellspacing="0" width="520" style="line-height:normal">
                            <tr style="line-height:normal">
                                <td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:left; padding-top:20px;">
                                    <span style="color:#C00000; font-weight:bold;">Restez connectés :</span> Le Sceau de Confiance est maintenant disponible sur votre mobile&nbsp;! <br />
                                    <b>En ayant toujours votre compagnon shopping dans la poche, oubliez les mauvaises surprises&nbsp;!</b>
                                    <br />
                                    <br /><b>A télécharger sur :</b>
                                    <br />
                                    <a target="_blank"  href="https://itunes.apple.com/fr/app/fia-net/id691062185?mt=8" ><img src="http://www.fia-net.com/img/emails/logoDispo_applestore.jpg" alt="Apple Store" width="70" height="23" border="0" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank"  href="https://play.google.com/store/apps/details?id=com.fianet.sceau.mobile&hl=fr" ><img src="http://www.fia-net.com/img/emails/logoDispo_googleplay.jpg" alt="Google Play" width="70" height="23" border="0" /></a>
                                </td>
                            </tr>
                            <tr style="line-height:normal">
                                <td height="60"  style="line-height:normal; font-family:Arial, Helvetica, sans-serif;	color:#3e262b; font-size:12px;">
                                    Charlie,<br />du <strong>Sceau de Confiance <a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Homepage_pied_page]&url=http://www.fia-net.com/"  style="text-decoration:none; font-weight:bold; color:#dd0131;">FIA-NET</a></strong>.
                                </td>
                            </tr>
                            <tr style="line-height:normal">
                                <td style="color:#808080; line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:10px; text-align:left; padding-bottom:10px;">
                                    FIA-NET obtient la certification NF Service &laquo; Avis en ligne des consommateurs &raquo;. <a target="_blank" style="color:#808080; font-weight:bold;"  href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[questionnaire_achat_produits_FR]--[certification_afnor_avis_en_ligne]&url=http://www.fia-net.com/annuaire/certification-afnor.php" >En savoir plus</a>.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" class="footer" style="line-height:normal">
                <tr style="line-height:normal">
                    <td height="1" bgcolor="#e7e3e4" valign="top" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/bar_rge.png" width="558" height="1" alt="barre rouge" border="0" style="margin:0px; padding:0px; line-height:normal; border:none; display:block;" /></td>
                </tr>
                <tr style="line-height:normal">
                    <td height="24" align="center" bgcolor="#e7e3e4" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#524249;">FIA-NET 3/5 rue Saint-Georges 75 009 Paris / <a target="_blank"   href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Homepage_pied_page]&url=http://www.fia-net.com/" style="color:#52ae35;">www.fia-net.com</a> / RCS Paris 429 121 866</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="line-height:normal">
        <td align="center" style="font-family:Arial, Helvetica, sans-serif; text-align:center; color:#524249; font-size:10px; line-height:normal;">
            <p style="font-size: 11px;">Pour &ecirc;tre s&ucirc;r de recevoir tous nos emails, ajoutez <a target="_blank"  href="mailto:suivi-livraison@fia-net.fr" style="color:#524249;">suivi-livraison@fia-net.fr</a> &agrave; votre carnet d'adresses.</p>
            <p>
                Vous recevez cet e-mail car vous avez effectué un achat sur un site participant. FIA-NET ne vous sollicitera pour aucune autre information sans rapport avec le suivi des performances de ce site.
            </p>
            <p>
                Conform&eacute;ment &agrave; la loi Informatique et Libert&eacute;s du 6 janvier 1978, vous disposez &agrave; tout moment, d'un droit d'acc&egrave;s, de rectification, et d'opposition &agrave; l'ensemble de vos donn&eacute;es personnelles en &eacute;crivant, par courrier et en justifiant de votre identit&eacute;, &agrave; FIA-NET - Informatique et Libert&eacute;s, Traitement 896 150 - 3/5 rue Saint-Georges, 75009 PARIS.
            </p>
            <p><a target="_blank"  style="color:#524249;"  href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Desabonnement_membre]&url=https://www.fia-net.com/membre/desabonnement_fia-net.php?email=##EMAIL##">Se désabonner</a></p>
        </td>
    </tr>
</table>
<img width="1" height="1" src="http://logi118.xiti.com/hit.xiti?s=487123&amp;xto=EPR-5-[questionnaire_achat_produits_FR]--[]&amp;type=email&amp;" alt="">