{% extends 'FIANETSceauBundle:Emails/Questionnaires:base1.html.twig' %}

{% block titre %}<strong style="font-size:17px; line-height:12px;">QUESTIONNAIRES</strong><br />DONNEZ VOTRE AVIS !{% endblock %}

{% block relance_intro %}<br /><span style="color:#FF0000;">Nous attendons toujours votre avis !</span><br />{% endblock %}

{% block relance_perso %}<br /><span id="js_relance_perso">##RELANCE_PERSO##</span><br /><br />{% endblock %}