<form action="{{ path('site_home_subcribe_newsletter')}}" method="post" name="formnewsletter">
    <table cellpadding="5" cellspacing="0" width="340" oncontextmenu="return false;" id="table_newsletter">
        <tr>
		<td colspan="2">
                    Mme  <input type="radio" value="Mme">&nbsp;&nbsp;&nbsp;
                    Mlle <input type="radio" value="Mme">&nbsp;&nbsp;&nbsp;
                    M.   <input type="radio" value="M.">&nbsp;&nbsp;&nbsp;
                    (*)
		</td>
	</tr>
        <tr>
            <td colspan=2" >
                <input type="text" id="nom" name="nom" placeholder="Votre Nom (*)" size="30" maxlength="255" class="formulaire" style="font-weight: normal;" required="true"> 
            </td>          
        </tr>
        <tr>
            <td colspan=2" >
                <input type="text" id="prenom" name="prenom" placeholder="Votre Prénom (*)" size="30" maxlength="255" class="formulaire" style="font-weight: normal;" required="true"> 
            </td>          
        </tr>
        <tr>
            <td colspan=2" >
                <input type="email" id="email" name="email" placeholder="Email *" size="40" maxlength="255" class="formulaire" style="font-weight: normal;" required="true"> 
            </td>          
        </tr>

    </table>
    <div class="btn-1 btn-valider-form-nl">
        <div class="btn-1-main">
            <input type="submit" value=" Validez mon inscription" class="btn_site_newsletter_subcribe"/>
        </div>
        <div class="btn-1-end"></div>
    </div>
 </form>