{% trans_default_domain 'site_operation_detail' %}
<h1 class="titre">
    {% trans %}titre_operation{% endtrans %}
</h1>
<h2 class="mini-titre">
    {% trans %}titre_operation_question1{% endtrans %}
</h2>
<p>
   {% trans %}titre_operation_response1{% endtrans %}     
</p>
<h2 class="mini-titre">
    {% trans %}titre_operation_question2{% endtrans %}
</h2>
<p>
    {% trans %}titre_operation_response2{% endtrans %}  
</p>
<h2 class="mini-titre">
    {% trans %}titre_operation_question3{% endtrans %}
</h2>
 <p>
     {% trans %}titre_operation_response3{% endtrans %}
</p>	
<h2 class="mini-titre">
     {% trans %}titre_operation_question4{% endtrans %}
</h2>
<p>
    {% trans %}titre_operation_response4{% endtrans %}
</p>
<br />
<p>
    <a class="lien" href="#">
          {% trans %}titre_operation_faq{% endtrans %}
    </a>
</p>