{% if redirect == 'newsletter' %}
    <p class='home-news-note'>Merci de bien vouloir s'inscrir pour recevoir nos newsletters .</p>
{% endif %}
<h1 class="titre-espace-membre">
    Rejoignez nous et profitez d'avantages exclusifs FIA-NET
</h1>
<p>
    Renseignez vos informations personnelles, cela ne prend qu'une ou deux minutes.
</p>
<form  action="{{ path('site_member_register')}}" method="post">    
    <input type="hidden" name="formulaireinscription" valuek="1">
    <div id="inscription-formulaire">
        
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {% include 'SceauBundle:Site/Security:avatar.html.twig' %}
         </div>
                <div class="btn-espace-membre">
			<div class="btn-1-main">
                            <input type="submit" value="Valider" class="btn-home-regiter"/> 
			</div>
			<div class="btn-1-end"></div>
        </div>
        {{ form_end(form) }}

        
   
</form>
{% include "SceauBundle:Site/Common:dataprotection.html.twig" %}