<p class="textetexte" style="margin-left:0;">

    Bonjour {{user.prenom}}, merci de vous être enregistré. Vous êtes désormais membre FIA-NET !<br />
    <br />
    Vous allez recevoir un email à l'adresse que vous nous avez indiqué. Conservez-le, il contient toutes les informations vous permettant de vous connecter !
    
</p>
