.veryweak{
    background-color: #FFA0A0;
border-color: #F04040!important;

}
.weak{
background-color: #FFB78C;
border-color: #FF853C!important;

}
.medium{
background-color: #FFEC8B;
border-color: #FC0!important;

}
.strong{
background-color: #C3FF88;
border-color: #8DFF1C!important;
}

.niveausecuriteveryweak p{
    color: red;
}

.niveausecuriteweak p{
    color: #FFA0A0;
}

.niveausecuritemedium p{
    color: #FC0;
}

.niveausecuritestrong p{
    color: #090;
}