@charset "utf-8";
/* CSS Document */

#login {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #e7e4e4;
    padding: 15px;
    width: 350px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -175px;
}

#login h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 20px;
}

#login a {
    border-bottom: 1px dotted #1d8bdf;
    text-decoration: none;
}

form {
    display: inline;
}

input, button, a, p, #erreur {
    margin-top: 0;
    margin-bottom: 15px;
}

input {
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 150px;
}

input.erreur {
    border-color: #ff0000;
}

input#site_id_site_id {
    padding-left: 5px;
    width: 165px;
    margin-right: 85px;
    border-width: 2px;
}

label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

input#username {
    background: url('../../images/extranet/login.png') no-repeat 5px #fff;
}

input#password {
    background: url('../../images/extranet/mot_de_passe.png') no-repeat 5px #fff;
}

input#username:disabled {
    background-color: #ccc;
}

input#password:disabled {
    background-color: #ccc;
}

#erreur {
    color: #ff0000;
}

#erreur img {
    vertical-align: middle;
}

#confirmation {
    color: #1CB01E;
    margin-top: 60px;
    margin-bottom: 30px;
}

#confirmation img {
    margin-bottom: 10px;
}

