@charset "utf-8";
/* CSS Document */

.indicateurs input {
    position: absolute;
    left: -100px;
}

.indicateur-non-selectionne {
    border: solid 2px #ffffff;
}

.indicateur-selectionne {
    border: solid 2px #04B404;
}

.fleche-droit-reponse {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}

.block-relance-email {
    float: left;
}

.block-relance-info-form {
    float: right;
    margin-right: 15px;
    max-width: 65%;
}

.block-relance-info {
    background-color: #e7e4e4;
    padding-bottom: 1px;
    padding-top: 1px;
    text-align: left;
    margin-bottom: 20px;
}

.block-relance-info p {
    margin: 12px;
    color: #666565;
}

.block-relance-form {
    color: #666565;
    text-align: left;
}

.block-relance-form input,textarea {
    width: 100%;
}

#form_question_perso {
    margin: 20px;
}

#form_question_perso div {
    margin-bottom: 10px;
}

#form_question_perso .libelle {
    width: 50%;
}

#form_question_perso #notation div {
    display: inline-block;
}

#form_question_perso #dates div {
    display: inline-block;
}

#form_question_perso h2 {
    font-size: 11px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    margin-left: 0;
}

#form_question_perso .supprimer {
    vertical-align: text-bottom;
    margin-left: 5px;
}