 <ul class="list-inline">
    <li>
        <a href="#">
            {% image '@SceauBundle/Resources/public/images/extranet/fianet-foot.png' %}
            <img src="{{ asset_url }}" width="79" height="20" alt="FIA-NET" />
            {% endimage %}
        </a>
    </li>
    <li><a href="#">Espace Presse</a></li>
    <li><a href="#">Mentions légales</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Contactez-nous</a></li>
    <div id="DIVdate"></div>
</ul>

