<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">{% block modal_header %}{% endblock %}</div>
        <div class="modal-body">{% block modal_body %}{% endblock %}</div>
        <div class="modal-footer">{% block modal_footer %}{% endblock %}</div>
    </div>
</div>

<script>
    (function(){
        $('#modal').on('click', 'a[data-toggle=modal]', function(ev) {
            ev.preventDefault();

            $('#modal').load($(this).attr('href'), function() {
                $('#modal').modal('show');
            });
        });
    })();
</script>

