{% extends "FIANETSceauBundle:Extranet:extranet.html.twig" %}

{% block title %}
    {{ parent() }} : accueil
{% endblock %}

{% block extranet_body %}

    <h1>Bienvenue dans la partie statistiques</h1>

{% endblock %}

