<tr style="line-height:normal">
    <td height="90"  colspan="2" align="left" style="line-height:normal">
        <table border="0" align="center" cellpadding="0" cellspacing="0" width="520" style="line-height:normal">
            <tr style="line-height:normal">
                <td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:left; padding-top:20px;">
                    {% include 'SceauBundle:Emails/Questionnaires/Commun:mobile.html.twig' %}
                </td>
            </tr>
            <tr style="line-height:normal">
                <td height="60"  style="line-height:normal; font-family:Arial, Helvetica, sans-serif; color:#3e262b; font-size:12px;">
                    {% include 'SceauBundle:Emails/Questionnaires/Commun:signature.html.twig' %}
                </td>
            </tr>
            <tr style="line-height:normal">
                <td style="color:#808080; line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:10px; text-align:left; padding-bottom:10px;">
                    {% include 'SceauBundle:Emails/Questionnaires/Commun:certification.html.twig' %}
                </td>
            </tr>
        </table>
    </td>
</tr>