{% trans_default_domain 'emails_questionnaires' %}

{% trans into locale %}appli_mobile{% endtrans %}
<br />
<a target="_blank"  href="https://itunes.apple.com/fr/app/fia-net/id691062185?mt=8" ><img src="http://www.fia-net.com/img/emails/logoDispo_applestore.jpg" alt="Apple Store" width="70" height="23" border="0" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank"  href="https://play.google.com/store/apps/details?id=com.fianet.sceau.mobile&hl=fr" ><img src="http://www.fia-net.com/img/emails/logoDispo_googleplay.jpg" alt="Google Play" width="70" height="23" border="0" /></a>