{% if actualite %}
<div class="panel-body bg-black text-white">
    <strong>{{ actualite.title }}</strong><br/>
    <p>{{ actualite.introduction }}</p>
    <a class="btn btn-info btn-sm"
       href="{{ path('extranet_commun_news', {'id': actualite.id}) }}"
       data-toggle="modal" data-target="#modal">En savoir plus
    </a>
</div>
{% endif %}
