   <p>
        <a href="#" class="txt" xtclib="Homepage_Texte_Litige">Vous avez eu un problème avec un e-commerçant FIA-NET ?</a>
    </p>
    <div class="btn-1 btn-vers-litige">
	<div class="btn-1-main">
            <a href="#" class="btn-1-link" xtclib="Homepage_Bouton_Litige">déclarez-le !</a>
        </div>
	<div class="btn-1-end"></div>
    </div>