<a href='#'>
    <img src='http://static.fia-net.com/site_fianet/img/etudebva_home.png' alt='Les infos FIA-NET'/>
</a>
<div class='btn-1 btn-vers-newsletter'>
    <div class='btn-1-main'>
        <a href='' class='btn-1-link'>Decouvrez-la !</a>
    </div>
    <div class='btn-1-end'></div>
</div>