{% if newsletters %}
<a href='{{newsletters[0].url}}' >
    <img src='{{newsletters[0].urlVignette}}'  alt='Les newsletters FIA-NET'/>
</a>
<div class='btn-1 btn-vers-newsletter-mini'>
    <div class='btn-1-main'>
        <a href='{{newsletters[0].url}}' class='btn-1-link' xtclib='Homepage_Bouton_Newsletter'>INSCRIVEZ-VOUS !</a>
    </div>
    <div class='btn-1-end'>       
    </div>
</div>
{% endif %}