<strong>gagnez chaque mois</strong><br/>30 chéques cadeaux de<br/><span>10€;</span>, <span>20€;</span>, <span>50€;</span> ou <span>100€; !</span>
    <div class="btn-1 btn-vers-jouer">
        <div class="btn-1-main">
            <a href="{{ path('site_home_tombola')}}" class="btn-1-link" xtclib="Homepage_Bouton_Tombola">participez !</a>
        </div>
        <div class="btn-1-end"></div>
    </div>