{% extends "FIANETSceauBundle:Extranet:extranet.html.twig" %}

{% block title %}
    {{ parent() }} : accès refusé
{% endblock %}

{% block extranet_body %}

    <h1>{{ elementMenuTitre }}</h1>

    <div style="text-align:left;">
        <p>{{ elementMenuDescriptif|raw }}</p>

        <p style="color:red; font-weight:bold;">[En attente d'informations MOA/Marketing]
            <ul style="color:red; font-weight:bold;">
                <li>Design page</li>
                <li>Texte à afficher = descriptif pour chaque élément de menu + une phrase générique invitant à contacter le suivi commercial</li>
            </ul>
        </p>
    </div>
{% endblock %}

