{% spaceless %}
    <meta charset="utf-8" />
    <title>Fia-net | Backoffice</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <title>FIA-NET Dasboard</title>
    
    {% block CSS %}
{#         <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        {% stylesheets
            'bundles/sceau/css/admin/common/animate.min.css'
            'bundles/sceau/css/admin/common/jquery-ui.min.css'
            'bundles/sceau/css/admin/common/bootstrap.min.css'
            'bundles/sceau/css/admin/common/font-awesome/css/font-awesome.min.css'
            'bundles/sceau/css/admin/common/jquery-jvectormap-1.2.2.css'
            'bundles/sceau/css/admin/common/datepicker.css'
            'bundles/sceau/css/admin/common/datepicker3.css'
            'bundles/sceau/css/admin/common/jquery.gritter.css'
            'bundles/sceau/css/admin/common/animate.min.css'
            'bundles/sceau/css/admin/common/style.min.css'
            'bundles/sceau/css/admin/common/style-responsive.min.css'
            'bundles/sceau/css/admin/common/default.css'
            filter='cssrewrite'
        %}
         <link rel="stylesheet" href="{{ asset_url }}"/>
        {%     endstylesheets %} #}
    {% endblock %}
    
{% endspaceless %}
