{% spaceless %}
    <div class="loi-informatique-liberte">
        Seuls les champs suivis d'un astérisque (*) sont obligatoires. L'absence de réponse à un champ obligatoire empêche l'enregistrement de votre demande.
        <br />
        Les réponses à ce formulaire font l'objet d'un traitement automatisé de données dont la finalité est l'utilisation des différents services FIA-NET associés au service Sceau de confiance. Les destinataires des données sont FIA-NET et ses partenaires. 
        <br />
        <br />
        Conformément à la loi Informatique et Libertés du 6 janvier 1978 vous disposez, à tout moment, d'un droit d'accès, de rectification, de suppression et d'opposition à l'ensemble de vos données à caractère personnel en écrivant par courrier postal et en justifiant de votre identité, à FIA-NET, Service Informatique et Libertés, Traitement n°896150 3/5 rue Saint-Georges 75009 Paris ou par mail à <a class='lien' href='mailto:cil@fia-net.com?Subject=Inscription%20%C3%A0%20la%20newsletter%20FIA-NET'/>cil@fia-net.com</a>.
    </div>
{% endspaceless %}