<a href="#">Qui est FIA-NET</a>  | 
<a href="#">Mentions légales</a>  | 
<a href="#">Protection des données</a>  | 
<a href="#"> CGU </a>  | 
<a href="#">Politique Qualité</a> | 
<a href="#">FAQ</a> | 
<a href="#">Contact</a> | 
<a href="#">Ils parlent de nous</a> | 
<a href="http://fia-net-group.com/" target="_blank" onclick="return xt_click(this,'C','10','espace_pro','S')">Espace Pro</a> | 
<a href="https://www.fia-net.com/__extranet/login.php" target="_blank" class="pro">Extranet</a>