{% spaceless %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FIA-NET</title>
    {% image '@SceauBundle/Resources/public/images/site/home/pucerouge2.ico' %}
        <!--<img src="{{ asset_url }}" rel="shortcut icon" type="image/x-icon"/>Test
        <img src="{{ asset_url }}" rel="icon" type="image/x-icon"/>Test2 --!>
    {% endimage %}
    
    {% block CSS %}
        {% stylesheets
            'bundles/sceau/css/site/home/annuaire2.css'
            'bundles/sceau/css/site/home/annuaire2-jquery-ui.css'
            'bundles/sceau/css/commun.css'
            'bundles/sceau/css/site/home/menu-membre.css'
            '//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'
            filter='cssrewrite'
        %}
         <link rel="stylesheet" href="{{ asset_url }}"/>
        {%     endstylesheets %}
    {% endblock %}
    
{% endspaceless %}