
{% spaceless %}
    <div class="logo">
        <a href="#">
            <div class="lien-logo">  </div>
        </a>
    </div>
    <div class="pres">  </div>
    <div class="mobile">
        <a href="#">
            <div class="lien_appli-mob">  </div>
        </a>
    </div>
    {% include "SceauBundle:Site/Security:login.html.twig" %}
      {% include "SceauBundle:Site/Common:switchlangage.html.twig" %}

{% endspaceless %}