<p>
    Le Sceau de Confiance FIA-NET ne peut traiter votre demande.
    Nous vous invitons à contacter le service concerné auprès de Certissim, en cliquant sur le bouton ci-dessous :
</p>
<div><a target="_blank" href="http://www.certissim.com">{{ 'accédez à certissim.com'|trans({})|upper }}</a></div>
<p><strong>Toute demande de ce type via ce formulaire de contact ne pourra être traitée.</strong></p>