<p>
    Vous avez acheté sur un site e-commerce et vous rencontrez un problème avec votre commande ?
    Le Sceau de Confiance FIA-NET met à votre disposition un service de médiation au sein de l'espace membre pour vous aider à trouver une solution avec l'e-commerçant. Vous y trouverez également des éléments d'aide à l'achat en ligne et les dernières informations concernant le code de la consommation.
</p>
<p>Accédez à votre espace membre en cliquant sur le bouton ci-dessous :</p>
<div><a target="_blank" href="https://www.fia-net.com/membre/">{{ 'accédez à l\'espace membre'|trans({})|upper }}</a></div>
<p>Vous souhaitez déposer un litige pour un e-commerçant qui n'est pas référencé dans la rubrique « Litiges » de votre espace membre ? Malheureusement, nous n'avons pas de partenariat en cours avec cet e-commerçant. Nous vous invitons à saisir le juge de proximité auprès du tribunal d'instance de votre lieu de domicile pour la résolution de votre litige, si vous estimez être dans votre droit. Plus d'infos disponibles dans la rubrique « Aide à l'achat en ligne » de votre espace membre.</p>