<p>
    Vous avez reçu un e-mail de FIA-NET et avez des doutes sur son authenticité ?
    Il est possible que vous ayez été visé par une tentative de phishing.
</p>
<p>
    Nous vous invitons à nous transmettre cet e-mail pour qu'il soit traité et analysé au plus vite à l'adresse :
    <a href="mailto:infophishing@fia-net.com?Subject=Tentative%20de%20phishing%20concernant%20FIA-NET">infophishing@fia-net.com</a>
</p>