
<div class="btn-1 btn-haut-faq">
	<div class="btn-1-main">
		<a class="btn-1-link" href="#top">
			<img width="14" height="12" border="0" align="absmiddle" src="{{ asset('bundles/sceau/images/site/home/picto_btn_haut.png') }}">&nbsp;&nbsp;retour aux questions
		</a>
	</div>
	<div class="btn-1-end"></div>
</div>
