<div id="bloc_texte">
	<h1>Conditions Générales d'Utilisation du service Sceau de confiance FIA-NET</h1>
	<p>Les présentes Conditions Générales d'Utilisation relatives au service Sceau de confiance FIA-NET ont vocation à régir les relations entre :</p>
	<p>La société FIA-NET, une société anonyme, établie et ayant son siège social au 3/5, rue Saint Georges – 75009 Paris, immatriculée au registre de commerce et des sociétés de Paris sous le numéro 429 121 866 (ci-après « <strong class="important">FIA-NET</strong> »).</p>
	<p>Et</p>
	<p>L'Utilisateur, défini comme toute personne physique ayant effectué un achat ou ayant souscrit un service après d'un professionnel bénéficiant du service Sceau de confiance proposé par la société FIA-NET et qui agit à des fins qui n'entrent pas dans le cadre de son activité professionnelle.</p>
	
	<h2>1. OBJET</h2>
	<p>
	Les présentes Conditions Générales d'Utilisation ont pour objet de définir les règles entourant l'utilisation du service Sceau de confiance FIA-NET au profit des Utilisateurs.
	</p>
	<p>
	FIA-NET permet aux internautes de noter un professionnel bénéficiant du service Sceau de Confiance FIA-NET et de noter ce dernier à travers des questionnaires de satisfaction. Ces questionnaires ont pour objet de mesurer les performances du professionnel et de permettre aux internautes de se forger une opinion sur ce dernier à partir des informations obtenues.
	</p>

	<h2>2. DEFINITION</h2>
	<p>
		<strong class="important">AFNOR NF Z74-501</strong><br />
		Norme Française définissant l'ensemble des exigences qui s'appliquent aux systèmes et dispositifs mis en place par le gestionnaire d'avis permettant de traiter de manière fiable les avis des Utilisateurs.
	</p>
	<p>
		<strong class="important">Avis</strong><br />
		Expression de l'opinion d'un utilisateur sur le déroulement de sa commande (de l'acte d'achat (premier questionnaire) à la livraison (deuxième questionnaire)) auprès d'un professionnel. L'avis doit être rédigé en français. Il est destiné à être restitué sur le site Internet <a href="http://www.fia-net.com" class="lien" target="_blank">www.fia-net.com</a> <u>ainsi que sur les sites internet des partenaires de FIA-NET</u>.
	</p>
	<p>
		<strong class="important">Avis sollicité</strong><br />
		Avis d'Utilisateur collecté à la suite de l'envoi des questionnaires de satisfaction par le professionnel et/ou FIA-NET.
	</p>
	<p>
		<strong class="important">Charte</strong><br />
		Charte des internautes décrivant les bonnes pratiques pour la rédaction d'un commentaire pour les questionnaires FIA-NET.
	</p>
	<p>
		<strong class="important">Collecte</strong><br />
		La collecte des avis des Utilisateurs désigne tous les moyens permettant de recueillir l'opinion des Utilisateurs.
	</p>
	<p>
		<strong class="important">Conflit d'intérêts</strong><br />
		Situation dans laquelle l'auteur de l'avis est une personne qui possède des intérêts en lien avec l'objet ou le professionnel évalué qui pourraient influer sur l'indépendance de son avis.  
	</p>
	<p>
		<strong class="important">Date d'expérience de consommation</strong><br />
		Date mettant fin au processus de consommation. Cette date correspond à la date de réponse au 2ème questionnaire.
	</p>
	<p>
		<strong class="important">Date de dépôt</strong><br />
		Date à laquelle l'avis est soumis à FIA-NET. 
	</p>
	<p>
		<strong class="important">Droit de réponse</strong><br />
		Possibilité offerte à une personne, physique ou morale, de répondre à un avis de consommateur la concernant et pour laquelle elle est habilitée à répondre. 
	</p>
	<p>
		<strong class="important">Droit de retrait</strong><br />
		Possibilité offerte à l'auteur d'un avis de consommateur de demander la suppression de son avis.
	</p>
	<p>
		<strong class="important">E-mail</strong><br />
		Adresse de courrier électronique. 
	</p>
	<p>
		<strong class="important">FIA-NET</strong><br />
		Gestionnaire d'avis
	</p>
	<p>
		<strong class="important">Fiabilité</strong><br />
		Le logo FIA-NET est un sceau de transparence qui permet aux internautes de bénéficier d'un service d'information unique lorsqu'ils achètent sur des sites détenteurs de ce sceau. Son but est de <u>les aider à distinguer les professionnels du web les plus fiables</u>, en affichant leurs performances, obtenues par notation de leurs clients. 
	</p>
	<p>
		<strong class="important">Fiche professionnelle</strong><br />
		Page internet dédiée à chaque professionnel partenaire de FIA-NET sur le site <a href="http://www.fia-net.com" class="lien" target="_blank">www.fia-net.com</a>, contenant notamment l'ensemble des notes et commentaires laissés par les Utilisateurs.
	</p>
	<p>
		<strong class="important">Marchand</strong><br />
		E-commerçant bénéficiant du Service Sceau de confiance FIA-NET excepté les transporteurs.
	</p>
	<p>
		<strong class="important">Modérateur</strong><br />
		Personne physique en charge des opérations de modération des avis de consommateurs.
	</p>
	<p>
		<strong class="important">Modération</strong><br />
		Opérations de filtrage automatisé, analyse, lecture humaine en vue d'une acceptation donnant lieu à une publication ou à un rejet d'un avis d'un Utilisateur. La modération peut aussi intervenir pour la suppression d'un avis de consommateur déjà publié.
	<p>
		<strong class="important">Pop-up</strong><br />
		Fenêtre qui s'ouvre après la validation du paiement sur le site Internet du professionnel.  
	</p>
	<p>
		<strong class="important">Pseudonyme</strong><br />
		Identifiant public de l'auteur de l'avis de consommateur.
	</p>
	<p>
		<strong class="important">Signalement</strong><br />
		Fonctionnalité qui permet aux consommateurs ou aux personnes physiques ou morales concernées par l'avis, de signaler ou d'attirer l'attention du gestionnaire d'avis et de son modérateur sur un contenu jugé suspect.
	</p>
	<p>
		<strong class="important">Site</strong><br />
		Désigne le site Internet <a href="http://www.fia-net.com" class="lien" target="_blank">www.fia-net.com</a>.
	</p>
    <p>
		<strong class="important">Transporteur</strong><br />
		Société de livraison qui bénéficie du service Sceau de confiance FIA-NET indépendant du marchand de rattachement.
	</p>

	<h2>3. COLLECTE DES AVIS</h2> 
	<h3>3.1 MODE DE COLLECTE DES AVIS</h3>
	<h4>3.1.1 COLLECTE DES AVIS CONCERNANT UN MARCHAND</h4>
		
	<p>Les avis des Utilisateurs sont récoltés par FIA-NET par le biais d'au moins un questionnaire de satisfaction. Si le marchand choisit l'envoi de deux questionnaires : le premier est envoyé à l'Utilisateur consécutivement à son achat et permet de recueillir son impression générale sur le site du marchand. Le second questionnaire concernant les conditions et le suivi de la livraison est adressé à l'Utilisateur entre 2 et 14 jours après la date de livraison du produit et/ou de mise en place du service, indiquée dans la réponse au premier questionnaire.
	<br />Si le marchand choisit le questionnaire unique, il sera envoyé au plus tard 7 jours après la date de la commande.
	<br />Ces questionnaires ont pour but de mesurer les performances des marchands grâce aux informations suivantes :</p>
	<ul>
		<li>- Attributs du site :
			<ul class="sous-liste">
				<li>Facilité de recherche, navigation</li>
				<li>Informations sur les produits </li>
				<li>Prix des produits</li>
				<li>Facilité de commandes</li>
				<li>Prix et option de transport</li>
			</ul>
		</li>
		<li>- Les attributs « influenceurs » de décisions d'achat</li>
		<li>- Ponctualité de livraison</li>
		<li>- Conformité des produits</li>
		<li>- Rachat sur le site</li>
	</ul>

	<h4>3.1.2 COLLECTE DES AVIS CONCERNANT UN TRANSPORTEUR</h4>

	<p>Les avis des Utilisateurs sont récoltés par FIA-NET par le biais d'un questionnaire de satisfaction. Ce dernier est envoyé à l'Utilisateur à la suite de la livraison de la marchandise ou de sa réception en cas de livraison dans un point relais.</p> 

	<p>Ce questionnaire a pour but de mesurer les performances des transporteurs grâce aux informations suivantes :</p>
	<ul>
		<li>-	Satisfaction générale ressentie par le client ;</li>
		<li>-	Attributs « influenceurs »  du choix de mode de livraison ;</li>
		<li>-	Rapidité de la livraison ;</li>
		<li>-	Communications ;</li>
		<li>-	Recommandation et suggestions d'amélioration du service.</li>
	</ul>
    <h4>3.1.3 COLLECTE DES AVIS CONCERNANT LES ACTEURS DU SECTEUR FINANCE AUX PARTICULIERS</h4>

	<p>Les avis des Utilisateurs sont récoltés par FIA-NET par le biais d'un questionnaire de satisfaction. Ce dernier est envoyé à l'Utilisateur à la suite d'une demande de souscription d'un prêt.</p> 

	<p>Ce questionnaire a pour but de mesurer les performances des acteurs du secteur financier grâce aux informations suivantes :</p>
	<ul>
        <li>-	Satisfaction générale exprimée via un système d'étoile</li>
	</ul>
    <h4>3.1.4 COLLECTE DES AVIS CONCERNANT UN ASSUREUR</h4>

	<p>A la suite de la souscription d'un contrat d'assurance en agence par un nouveau client de l'assureur, un questionnaire de satisfaction lui sera envoyé. FIA-NET récolte les avis des Utilisateurs par le biais dudit questionnaire de satisfaction.</p> 

	<p>Ce questionnaire a pour but de mesurer les performances des agences de la société d'assurance et des produits souscrits grâce aux informations suivantes :</p>
	<ul>
		<li>-	Satisfaction générale ressentie par le client ;</li>
		<li>-	Recommandation générale ;</li>
		<li>-	Expérience de souscription en agence ;</li>
		<li>-	Evaluation du produit souscrit.</li>
	</ul>

	<h4>3.1.5 DISPOSITIONS COMMUNES</h4> 

	<p>Les avis collectés par FIA-NET sont des avis sollicités : les questionnaires de satisfaction sont par principe communiqués par courrier électronique ou via une pop-up à l'Utilisateur par le professionnel et/ou par FIA-NET.
	<br />Lorsque l'Utilisateur a un compte ouvert sur le Site, il peut également répondre aux questionnaires de satisfaction via son espace membre. Il bénéficie de 30 jours pour répondre au premier questionnaire et 3 mois pour le second à compter de leurs dates d'émission. En cas d'envoi d'un seul questionnaire, il a 30 jours pour y répondre à compter de la date d'émission.</p>   

	<p>Tout Utilisateur qui n'aurait pas reçu de questionnaire consécutivement à son achat ou à la souscription d'un service sur le site Internet du professionnel a la possibilité de le signaler à FIA-NET via son espace membre. Il devra communiquer à FIA-NET à fin de vérification, le nom du site Internet du professionnel, le numéro de la transaction, son montant, une preuve d'achat ou de demande de souscription à un service.</p>   

	<p><u>L'Utilisateur accepte d'être contacté par courrier électronique à des fins de vérifications de l'authenticité des informations et/ou documents reçus.</u></p> 

	<p><u>Une fois les vérifications effectuées et si elles s'avèrent concluantes, FIA-NET transmettra à l'Utilisateur le ou les questionnaires.</u></p> 

	<h3>3.2. EXIGENCES RELATIVES A L'UTILISATEUR</h3>

	<p>En laissant un avis en ligne destiné à être publié sur le Site, l'Utilisateur confirme qu'il :</p>
	<ul>	
		<li>-	<u>Est une personne physique et accepte de communiquer à FIA-NET pour identification et si besoin pour contact, son adresse de courrier électronique ;</u></li>
		<li>-	N'est pas en situation de conflits d'intérêts, c'est-à-dire qu'il ne possède pas des intérêts en lien avec le site évalué ;</li>
		<li>-	A eu personnellement l'expérience de consommation du produit ou service sur lequel porte son avis.</li>
	</ul>	

	<h3>3.3 IDENTIFICATION DE L'AUTEUR DE L'AVIS</h3>

	<p>Lors du dépôt d'un avis, un pseudonyme par défaut est attribué à son auteur s'il ne dispose pas d'un compte FIA-NET, composé de son prénom et de la première lettre de son nom de famille.</p> 

	<p>Lors de son inscription sur le site <a href="http://www.fia-net.com" class="lien" target="_blank">www.fia-net.com</a>, l'internaute a la possibilité de choisir le pseudonyme de son choix. Ce pseudonyme doit être composé de trois caractères au minimum et quinze au maximum. Il ne doit pas comporter plus de deux caractères identiques successifs et ne doit pas contenir de propos grossiers, injurieux ou discriminatoires.</p> 

	<h2>4. PROCESSUS DE MODERATION DES AVIS</h2> 
	<h3>4.1. PRINCIPES</h3> 

	<p>L'ensemble des questionnaires de satisfaction reçus par FIA-NET font l'objet d'une modération. Celle-ci a pour but de s'assurer que les avis laissés par les internautes sont conformes à la législation française, aux présentes Conditions Générales d'Utilisation et à la Charte. En cas de non-conformité les questionnaires pourront être supprimés.</p> 

	<h3>4.2. ROLE ET MOYENS DES MODERATEURS</h3>

	<p>Le modérateur est chargé d'appliquer les règles de modération des avis de consommateur. Il apprécie le contenu des avis pour pouvoir décider du maintien ou de la suppression de l'avis sur le Site. Pour ce faire, il a accès à l'intégralité du contenu de l'avis du consommateur, à toutes les informations relatives à l'historique du dépôt d'avis (nombre de soumissions du même avis après rejet initial), à l'historique des informations concernant l'auteur (nombre d'avis publiés, nom des sites évalués concernés par les avis).</p>

	<p>Le modérateur peut accéder aux éléments relatifs à l'identité de l'auteur de l'avis pour pouvoir le cas échéant entrer en contact avec lui dans le cadre de la vérification des avis. L'Utilisateur accepte d'être contacté par le modérateur en vue de cette vérification.</p>

	<h3>4.3. CARACTERISTIQUES DE LA MODERATION</h3> 
	<h4>4.3.1. Modération automatisée a priori</h4>

	<p>La modération a priori est un principe de modération par lequel le contenu est modéré avant sa mise en ligne sur le Site.</p> 

	<p>FIA-NET analyse automatiquement via un logiciel spécifique le contenu du questionnaire de satisfaction au moment de sa validation par l'Utilisateur afin de s'assurer qu'il ne contient pas un contenu non conforme à la Charte et aux présentes Conditions Générales d'Utilisation.</p> 

	<p>Les contenus pouvant faire l'objet d'une modération automatique sont notamment et de façon non limitative :</p>
	<ul>
		<li>-	un contenu textuel présentant des propos grossiers, injurieux et discriminatoires dans la zone de texte ou dans les éléments relatifs à l'identité du consommateur ;</li>
		<li>-	un contenu inintelligible (suite de signes ou caractères dénuée de sens, suite de mots inexistants, ...).</li>
	</ul>

	<p>Si le questionnaire de satisfaction contient des propos diffamatoires, injurieux, inintelligibles, etc., le questionnaire ne pourra pas être validé. L'auteur de l'avis sera informé que le contenu dudit questionnaire contient une ou plusieurs anomalies. L'auteur devra procéder à la modification de son questionnaire pour que ce dernier soit valide et envoyé à FIA-NET. </p> 

	<h4>4.3.2. Modération humaine a posteriori</h4>

	<p>La modération humaine a posteriori est un principe de modération par lequel le contenu est modéré par des personnes humaines (modérateurs) après sa diffusion sur le Site.</p>  

	<p>Toute personne peut avertir FIA-NET qu'un avis présente un « contenu abusif » sur le Site. Cette déclaration a pour effet de saisir automatiquement les modérateurs qui vont prendre connaissance du contenu de l'avis de l'utilisateur et décider de la suppression ou non de l'avis. Les modérateurs sont également susceptibles de contrôler l'ensemble des avis publié sur le Site afin de s'assurer de leur conformité avec les présentes Conditions générales d'Utilisation et la Charte.</p>  

	<p>En cas de suppression de l'avis d'un utilisateur, FIA-NET en informera l'auteur par courrier électronique et lui précisera le motif du rejet sauf cas de fraude (par exemple, envoi en masse d'avis par une société de e-réputation) afin de préserver l'efficacité de ses dispositifs anti-fraude. L'utilisateur aura la possibilité de déposer un nouvel avis modifié dans un délai de 5 jours calendaires.</p> 

	<p>L'avis de consommateur pourra être rejeté pour les motifs suivants :</p>

	<ol class="liste-num">
		<li><strong class="important">1. Commentaire inapproprié</strong>
			<ul>
			   <li>a. Avis avec des propos grossiers et/ou injurieux</li>
			   <li>b. commentaire non adéquat ;</li>
			   <li>c. commentaire avec des liens hypertexte, sites web, coordonnées quelconques (adresses e-mail ou numéros de téléphone, y compris ceux du client ou du fabricant du produit) ;</li>
			   <li>d. le contenu textuel est du spam ;</li>
			   <li>e. l'auteur de l'avis cite un concurrent du site e-commerce évalué ;</li>
			   <li>f. avis vide.</li>
			</ul>
		</li>
		<li><strong class="important">2. Commentaire inintelligible</strong><br />
			Contenu textuel comportant des caractères aléatoires ou des suites de mots sans aucune signification, sans rapport avec le sujet noté, mal écrit.		
		</li>
		<li><strong class="important">3. Informations personnelles</strong><br />
			Le commentaire comporte des informations personnelles, telles que le numéro de CB, de compte, nom, prénom, adresses…
		</li>
		<li><strong class="important">4. Contenu de l'avis erroné</strong><br />
			L'avis comporte des erreurs. Cela peut concerner l'ensemble des éléments de réponses des questionnaires (cases à cocher et commentaires).
		</li>
		<li><strong class="important">5. Informations du profil</strong><br />
			Le profil contient des injures ou grossièretés (nom, pseudo…).
		</li>
		<li><strong class="important">6. Conflit d'intérêt</strong><br />
			L'auteur de l'avis possède des intérêts en lien avec le site évalué.
		</li>
		<li><strong class="important">7. Action judiciaire</strong><br />
			<ul>
			   <li>a. Le contenu textuel comporte un appel à une action en justice ;</li>
			   <li>b. Le gestionnaire d'avis estime que sa responsabilité civile ou pénale peut être engagée.</li>
			</ul>			
		</li>
        <li><strong class="important">8. Fraude </strong><br />
			Le marchand a subit un impayé sur la commande évaluée par un Utilisateur avec comme motif une fraude.
		</li>
	</ol>	

	<p>La suppression de 10 avis d'un utilisateur pour cause d'action judiciaire, commentaire inapproprié, conflit d'intérêt et/ou information du profil ou fraude par le modérateur entraînera son bannissement pour une durée de un an. Cela signifie qu'il ne pourra plus répondre aux questionnaires de satisfaction pendant ladite durée.</p>

	<h2>5. PROCESSUS DE RESTITUTION DES AVIS</h2> 
	<h3>5.1. Restituer l'ensemble du contenu collecté</h3> 

	<p>Les avis reçus, modérés et conformes aux présentes Conditions générales d'Utilisation seront affichés du plus récent au plus ancien, à compter du lendemain de la date de dépôt, sur la fiche du professionnel évalué. FIA-NET rappellera au sein de ladite fiche le mode de calcul des notes issues des questionnaires de satisfaction conformément à l'article 5.2 des présentes Conditions Générales.</p>
	 
	<p>Les avis sont publiés sur le site pendant une durée d'un an.</p> 

	<h3>5.2. PRINCIPES DE CALCULS ET D'AGREGATION DES INDICES DE SATISFACTION</h3> 
	<h4>5.2.1. NOTATION DES MARCHANDS</h4>

	<p>FIA-NET recueille les informations contenues au sein des questionnaires de satisfaction pour déterminer les différentes notes accordées aux marchands. Les informations sont réparties en 3 catégories principales :</p>
	<ul>
		<li>-	La livraison conforme ;</li>
		<li>-	L'intention de rachat ;</li>
		<li>-	La résolution des litiges.</li>
	</ul>

	<p>Elle déterminera l'indice de satisfaction FIA-NET du marchand à partir des catégories précitées. Cet indice est la moyenne des notes de livraison conforme, d'intention de rachat et de résolution des litiges sur 3 périodes (1 mois, 3 mois et 6 mois glissants).</p>

	<h5>5.2.1.1. L'indice de livraison conforme</h5>
	<p>L'indice de livraison conforme mesure la capacité du marchand à livrer un bien conforme à la commande dans les délais annoncés au consommateur à la date d'achat pour chaque période de référence.</p> 

	<h5>5.2.1.2. L'indice d'intention de rachat</h5> 
	<p>L'indice d'intention de rachat correspond au pourcentage de personnes ayant répondu sur le questionnaire de suivi de livraison qu'ils rachèteraient « probablement » ou « certainement » sur le site par rapport au nombre total de réponses au questionnaire de suivi de livraison pour chaque période de référence.</p> 

	<h5>5.2.1.3. L'indice de résolution des litiges</h5> 
	<p>Le calcul de l'indice de résolution des litiges est calculé par rapport au nombre de litiges non résolus pour chaque période de référence. Chaque marchand a par défaut, une note de 10/10 qui évoluera  en fonction de la solution apportée au dossier de litige. 
	<br />Le calcul se fait sur le mois précédent glissant, avec systématiquement un décalage d'un mois. Par exemple pour le 30 juillet de l'année X, nous prendrons en compte les notes du 29 juin au 29 juillet de l'année X.</p>  

	<h4>5.2.2 NOTATION DES TRANSPORTEURS</h4>

	<p>FIA-NET recueille les informations contenues au sein du questionnaire de satisfaction pour déterminer les différents indices accordés aux transporteurs. Les informations sont réparties en 3 catégories principales :</p>
	<ul>
		<li>-	Indice de satisfaction globale ;</li>
		<li>-	Indice de satisfaction sur les points relais ou la livraison à domicile ;</li>
		<li>-	Indice de recommandation.</li>
	</ul>

	<p>Elle déterminera l'indice de satisfaction FIA-NET du transporteur à partir des catégories précitées. L'indice global est la moyenne des indices de satisfaction globale, de satisfaction sur les points relais et de recommandation sur 3 périodes (1 mois, 3 mois et 6 mois glissants).</p>

	<h5>5.2.2.1 Indice de satisfaction globale</h5> 

	<p>L'indice de satisfaction globale est la moyenne des indices de satisfaction sur les points relais et de recommandation.</p>

	<h5>5.2.2.2 Indice de satisfaction sur les points relais ou au domicile</h5>

	<p>L'indice de satisfaction sur les points relais est la moyenne de l'ensemble des notes des Utilisateurs dans cette catégorie.</p>

	<h5>5.2.2.3 Indice de recommandation</h5>

	<p>L'indice de recommandation est la moyenne de l'ensemble des notes des Utilisateurs dans cette catégorie.</p>
    
    <h4>5.2.3 NOTATION DES ACTEURS DU SECTEUR FINANCE AUX PARTICULIERS</h4>

	<p>FIA-NET recueille les notes des Utilisateurs contenues au sein des questionnaires de satisfaction.</p>
    
    <h4>5.2.4 NOTATION DES ASSUREURS</h4>

	<p>Les assureurs sont notés par les Utilisateurs qui déterminent eux-mêmes une note sur 10.</p>

	<h3>5.3 DELAI MAXIMAL DE RESTITUTION DES AVIS</h3>

	<p>FIA-NET publiera les avis des utilisateurs dans un délai maximal de 24 heures à compter de la date de dépôt par son auteur.</p> 

	<h3>5.4 SIGNALEMENT D'UN AVIS AU CONTENU INAPPROPRIE</h3>

	<p>FIA-NET met à disposition des internautes un lien « contenu abusif ? » près de chaque avis. Toute personne a la possibilité de signaler de façon motivée le caractère inapproprié d'un avis en saisissant le modérateur via ledit lien. 
	<br />En cliquant sur le lien, l'internaute atterrit sur une page de contact où il doit obligatoirement mentionner son nom, son e-mail et le motif détaillé de sa demande de saisine. Cette fonction a uniquement pour but de signaler un problème de diffamation, de grossièreté ou d'opinion contraire à la loi qui pourrait apparaître dans les commentaires des Utilisateurs.</p>

	<p>Le modérateur dispose d'un délai de 72 heures pour se prononcer sur le maintien ou la suppression de l'avis. Au cours de cette période de modération, l'avis reste affiché sur le Site. Le résultat de la modération donnera lieu à une réponse motivée à l'auteur du signalement et à une information de l'auteur de l'avis en cas de suppression de son avis et les motifs de suppression le cas échéant.</p>

	<p>FIA-NET procédera à la suppression de(s) avis d'un Utilisateur ayant déposé un ou des avis reconnus comme abusif(s) après modération.</p>


	<h3>5.5 DROIT DE REPONSE</h3>

	<p>Le professionnel dispose d'un droit de réponse pour chaque commentaire publié au sein de sa fiche professionnel. Il pourra notamment l'utiliser :</p>
	<ul>
		<li>-	Pour donner sa version des faits en cas de désaccord avec le commentaire concerné ou pour apporter des précisions aux internautes ;</li>
		<li>-	Remercier le consommateur de sa contribution.</li>
	</ul>

	<p>La réponse du professionnel peut être modérée par FIA-NET dans les mêmes conditions que les avis de consommateur soit directement par le modérateur soit en cas de saisie du modérateur par un internaute conformément à l'article 4 des présentes Conditions générales.
	<br />La réponse sera publiée près de l'avis du consommateur dans un délai de 24 heures à compter de sa soumission à FIA-NET. 
	</p> 

	<h3>5.6 SUPPRESSION DES AVIS APRES PUBLICATION</h3>

	<p>L'auteur d'un avis ne peut modifier son avis une fois qu'il a été publié. En revanche, il peut user de  son droit de retrait qui va conduire à l'arrêt de la publication de son avis. L'avis restera enregistré dans les bases de données de FIA-NET en conformité avec la durée de conservation des données déclarée auprès de la CNIL.</p> 

	<h2>6. PUBLICATION DES AVIS DE CONSOMMATEUR</h2>

	<p>Les avis publiés sur le Site correspondent aux expériences de consommateurs qui ont bien voulu laisser un avis après une expérience de consommation sur un site professionnel et ce, sous leur seule responsabilité. Les avis publiés sur le Site n'engagent pas FIA-NET. Les avis pourront être publiés sur les sites internet des partenaires de FIA-NET.</p>

	<h2>7. SIGNIFICATION DU LOGO FIA-NET</h2>

	<p>La présence du logo FIA-NET sur un site Internet signifie que le professionnel a souscrit le service Sceau de confiance FIA-NET et fait l'objet d'une évaluation par FIA-NET. FIA-NET invite les internautes à vérifier les résultats de l'évaluation du professionnel afin de se forger leur propre opinion sur la qualité de service du professionnel soit en cliquant sur le logo FIA-NET présent sur son site internet soit en se rendant directement sur le site <a href="http://www.fia-net.com" class="lien" target="_blank">www.fia-net.com</a>.</p>  

	<p>Le logo FIA-NET est un sceau de transparence qui permet aux internautes de bénéficier d'un certain nombre d'information lorsqu'ils achètent sur des sites affichant le logo FIA-NET. Son but est de permettre aux internautes de se forger une opinion sur un site à partir des informations disponibles obtenues par le sondage.  Les différentes opérations de sondage associées au service « Sceau de Confiance FIA-NET » sont destinées à mesurer de façon indépendante la qualité de service du professionnel et d'en donner aux internautes l'image la plus exacte possible. FIA-NET ne pourra être tenu responsable des défaillances des professionnels tel que les retards de livraison, la non-conformité de la marchandise reçue.</p>
	
	<h2>8. GESTION DES DOSSIERS DE LITIGE</h2>

	<p>FIA-NET met à disposition des internautes un espace dédié à la déclaration de litiges commerciaux concernant l'un des professionnels adhérents au service Sceau de confiance FIA-NET. L'ensemble des litiges déposés par les internautes concernant le professionnel lui sont transférés par courrier électronique ou via une interface spécifique destinée au professionnel. Les Utilisateurs peuvent ouvrir un dossier de litige sur le site <a href="http://www.fia-net.com" class="lien" target="_blank">www.fia-net.com</a> sous réserve que le professionnel bénéficie du service Sceau de confiance FIA-NET.</p> 

	<p>Les Utilisateurs ayant effectué un achat sur une Market-Place ne peuvent bénéficier de ce service, de même que ceux qui ont uniquement opté pour la livraison par un transporteur partenaire de FIA-NET.</p>

	<p>L'Utilisateur s'engage à respecter la Charte de la Médiation accessible au sein de son espace membre.</p>  

	<h2>9. PROPRIETE INTELLECTUELLE</h2>

	<p>Le Site, les applications relatives au Sceau de confiance FIA-NET et l'ensemble des éléments y figurant (informations, données, texte, sons, images, dessins, graphismes, signes distinctifs, logos, marques, …) sont la propriété exclusive de l'éditeur ou de ses partenaires. L'ensemble de ces éléments est protégé par des droits  de propriété intellectuelle et, à ce titre, est protégé contre toute utilisation non autorisée par la loi. FIA-NET concède, à titre non exclusif, aux Utilisateurs une licence d'utilisation gratuite strictement personnelle et incessible pour la durée de la relation avec FIA-NET.</p>

	<p>Toute autre reproduction, représentation ou diffusion, en tout ou partie, du contenu du Site Internet de  FIA-NET et des  applications, sur quelque support ou par tout procédé que ce soit, est interdite. Le non-respect de cette interdiction constitue une contrefaçon susceptible d'engager la responsabilité civile et pénale du contrefacteur. 
	<br />Il est notamment strictement interdit d'utiliser ou de reproduire le nom « FIA-NET » et/ou son logo, seuls ou associés, à quelque titre que ce soit, et notamment à des fins publicitaires, sans l'accord écrit préalable de FIA-NET.</p>
	
	<p>Il est également interdit à l'Utilisateur de décompiler ou de désassembler le Site Internet de FIA-NET, les applications, de les utiliser à des fins commerciales ou de représentation publique ou de porter atteinte de quelque manière que ce soit aux droits d'auteur et de propriété intellectuelle de FIA-NET ou de ses partenaires.</p> 

	<p>L'Utilisateur accorde à titre gracieux à FIA-NET et au professionnel évalué le droit de reproduire, de diffuser et de publier son avis.</p> 

	<h2>10. MODIFICATIONS DES CONDITIONS GENERALES D'UTILISATION</h2>

	<p>Les Conditions d'Utilisation peuvent être modifiées à tout moment par FIA-NET. Dans ce cas, les Conditions d'Utilisation modifiées entrent en vigueur à compter de leur mise en ligne.</p> 

	<h2>11. DONNEES PERSONNELLES</h2>

	<p>Les informations recueillies par FIA-NET dans le cadre d'un avis de consommateur font l'objet d'un traitement automatisé de données dont le responsable est FIA-NET. Ce traitement a pour finalité l'utilisation des différents services associés à un compte FIA-NET. 
	<br />Conformément à la loi Informatique et Libertés du 6 janvier 1978 les Utilisateurs disposent, à tout moment, d'un droit d'accès, de rectification, et d'opposition à l'ensemble de leurs données personnelles en écrivant, par courrier et en justifiant de leur identité, à l'adresse <a href="mailto:cil@fia-net.com" class="lien">cil@fia-net.com</a> ou à FIA-NET – Service Informatique et Libertés – Traitement N° 896150 - 3/5 rue Saint-Georges, 75009 PARIS.</p>

	<h2>12. MAINTENANCE DU SITE</h2>
	
	<p>Le Site pourra être interrompu temporairement par FIA-NET pour des besoins de maintenance, test, ou tout autre motif lié à l'amélioration et/ou au bon fonctionnement du Service Sceau de confiance FIA-NET.</p> 

	<h2>13. LOI APPLICABLE</h2>

	<p>Les présentes Conditions Générales d'Utilisation et les relations entre l'Utilisateur et FIA-NET sont régies par le droit français. 
	<br />Tout litige qui surviendrait concernant l'interprétation et l'exécution des présentes Conditions Générales d'Utilisation devra faire l'objet d'une tentative de règlement amiable.
	</p>


</div>
<div class="main-block-end"></div>