
<div class="bloc_faq">
	<h1 class="titre">Foire aux Questions</h1>
	<p>Vous recherchez une information ? 
	<br />Voici les questions les plus fréquemment posées à nos équipes. 
	<br />Si vous ne trouvez pas de réponses à nos questions, n'hésitez pas à <a class="lien" href="{$ANNUAIRE}contact.php">nous contacter</a> ! 
	</p>
    <p class="faq-titre-question" id="top">
		<a name="top">Vos questions et nos r&eacute;ponses sur le service Sceau de confiance FIA-NET :</a>
    </p>
    <p class="faq-texte">
		<a class="lien-faq" href="#1">&gt;&nbsp;Dois-je être membre FIA-NET pour bénéficier du service Sceau de Confiance FIA-NET  ?</a><br />
		<a class="lien-faq" href="#2">&gt;&nbsp;Pourquoi les sites partenaires de FIA-NET sont-ils plus sûrs que beaucoup d'autres ?</a><br />      	
		<a class="lien-faq" href="#3">&gt;&nbsp;Pourquoi notons-nous ces professionnels ? </a><br />	
		<a class="lien-faq" href="#4">&gt;&nbsp;Qui me garantit que les notes sur la fiche du marchand sont réelles ?</a><br />	
		<a class="lien-faq" href="#5">&gt;&nbsp;Que se passera-t-il si je rencontre un problème avec ma commande dans le cadre d’un achat en ligne ?</a><br />	
		<a class="lien-faq" href="#6">&gt;&nbsp;Puis-je bénéficier du service Sceau de Confiance FIA-NET pour toutes mes transactions sur Internet ?</a><br />	
		<a class="lien-faq" href="#7">&gt;&nbsp;Quels sont les avantages des membres FIA-NET ?</a><br />	
		<a class="lien-faq" href="#8">&gt;&nbsp;Comment faire pour participer à la tombola FIA-NET ?</a><br />	
		<a class="lien-faq" href="#9">&gt;&nbsp;Je ne vis pas en France. Puis-je quand même profiter du service Sceau de Confiance FIA-NET en faisant mes courses sur les sites partenaires ?</a><br />	
		<a class="lien-faq" href="#10">&gt;&nbsp;Comment puis-je gérer mes questionnaires ?</a><br />
    </p>
    <p class="faq-titre-question">
      Vos questions et nos réponses sur les sites partenaires de FIA-NET :
    </p>
    <p class="faq-texte">
		<a class="lien-faq" href="#11">&gt;&nbsp;Où puis-je trouver la liste des sites partenaires de FIA-NET ?</a><br />
		<a class="lien-faq" href="#12">&gt;&nbsp;Combien y a-t-il de sites partenaires de FIA-NET ?</a><br />
    </p>
    <p class="faq-titre-question">
      En cas de problème :
    </p>
    <p class="faq-texte">
		<a class="lien-faq" href="#13">&gt;&nbsp;Je n'ai pas reçu de questionnaire</a><br />
    </p>
    <p class="faq-titre-question">
      FIA-NET et la lutte contre la fraude à la carte bancaire :
    </p>
    <p class="faq-texte">
      <a class="lien-faq" href="http://www.certissim.com" target="_blank">&gt;&nbsp;Plus de renseignements sur CERTISSIM sur le site <span style="color:#52AE35">www.certissim.com</span></a>
    </p>
	<p class="faq-titre-question">
      Vos questions et nos réponses sur le phishing :
    </p>
    <p class="faq-texte">
      <a class="lien-faq" href="#phishing1">&gt;&nbsp;Qu'est-ce qu'un e-mail de phishing ?</a><br />
      <a class="lien-faq" href="#phishing2">&gt;&nbsp;Quelles sont les différences entre un e-mail de phishing et un e-mail FIA-NET ?</a><br />
      <a class="lien-faq" href="#phishing3">&gt;&nbsp;Comment réagir quand on reçoit un mail de phishing ?</a><br />
    </p>
    <hr class="faq-hr"/>
    <p class="faq-titre-question">
      Vos questions et nos r&eacute;ponses sur les garanties FIA-NET :
    </p>
    <p class="faq-texte">
		<span id="1"><b>Dois-je être membre FIA-NET pour bénéficier du service Sceau de Confiance FIA-NET ?</b></span>
		<br />
		Non ! Il vous suffit de faire votre achat sur un site partenaire FIA-NET pour bénéficier de nos services.
		<br />
		En cas de problème avec un site e-commerce partenaire (hors vente de crédit en ligne), vous pouvez déclarer un litige via votre espace membre. Nous vous aiderons à le résoudre. En plus, si aucune solution n'est trouvée, votre litige impactera directement l’indice de satisfaction FIA-NET.
		<br />
		<br />
		<a href="{$URLS.DECLARER}" class="lien" >Je souhaite déclarer un litige</a>
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="2"><b>Pourquoi les sites partenaires de FIA-NET sont-ils plus sûrs que beaucoup d'autres ?</b></span>
		<br />Les sites portant le Sceau de confiance FIA-NET s'engagent à respecter certaines conditions :
		<ul>
			<li><b>Sécurité :</b> pour souscrire au service Sceau de Confiance FIA-NET, ils doivent soumettre leur système de sécurisation des paiements à un audit déclaratif à la souscription de leur contrat ;</li>
			<li><b>Respect du consommateur :</b> en fournissant un contact privilégié à la plateforme de gestion des litiges FIA-NET, les sites partenaires de FIA-NET montrent leur volonté d'offrir un service de qualité à leurs clients ;</li>
			<li><b>Suivi de leurs performances :</b> les performances des sites partenaires de FIA-NET sont notées en permanence par leurs clients grâce aux questionnaires de satisfaction. Les réponses des clients sont ensuite agrégées pour obtenir des notes sur les performances de nos partenaires.
			<br />Retrouvez toutes ces notes sur les fiches de nos partenaires dans notre annuaire.</li>  
		</ul>
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="3"><b>Pourquoi notons-nous ces professionnels ?</b></span>
		<br />
		Connaître les avis issus d’expériences de consommation est le meilleur moyen de vous faire une idée avant d'effectuer une transaction. Consultez les performances de nos partenaires sur la fiche qui leur est dédiée.
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="4"><b>Qui me garantit que les notes sur la fiche du marchand sont réelles ? </b></span>
		<br />
		Il faut avoir vécu une expérience de consommation chez un partenaire FIA-NET pour donner son avis ! 
		<br />
		Grâce à sa marque de confiance la plus connue sur internet en France (Etude BVA – Juillet 2015), FIA-NET met à votre disposition plus de 18 millions d’avis pour vous forger une opinion. 
		<br />
		Tous les avis publiés correspondent à une expérience de consommation préalable : nous nous assurons de publier « de vrais avis de vrais acheteurs ».
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="5"><b>Que se passera-t-il si je rencontre un problème avec ma commande dans le cadre d’un achat en ligne ?</b></span>
		<br />
		Si vous avez un problème, nous vous proposons de déclarer un litige. Pour cela, il faut avoir un compte membre FIA-NET. Une fois inscrit, vous pourrez nous donner toutes les informations nécessaires pour le traitement de ce litige.
		<br />
		Dans ce cas, nous transmettons votre demande au partenaire concerné qui doit la traiter en priorité via notre interface de gestion de litiges. Un expert FIA-NET peut être sollicité afin d'éclairer chacune des parties sur ses droits et ses obligations.
		<br />
		Nous mettons également à votre disposition, dans la rubrique « Aide à l'achat en ligne », présente au sein de votre espace membre, un rappel des points essentiels du droit de la consommation relatif à la vente à distance et un ensemble de courriers types à adresser au marchand concerné par votre dossier de litige.
		<br />
		FIA-NET sera amenée à relancer l'e-commerçant s'il s'abstient de vous répondre et va suivre la progression du dossier et le résultat de votre démarche. 
		<br />
		Les sociétés de livraison (transporteurs) partenaires de FIA-NET ne bénéficient pas de ce service de gestion des litiges commerciaux. 
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}	
    <p class="faq-texte">
		<span id="6"><b>Puis-je bénéficier du service Sceau de Confiance FIA-NET pour toutes mes transactions sur Internet ?</b></span>
		<br />
		Vous pouvez bénéficier de nos différents services d'information uniquement dans le cadre de transaction effectuée chez nos partenaires.
		<br />
		<br />
	</p>
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="7"><b>Quels sont les avantages des membres FIA-NET ?</b></span>
		<br />
		En devenant membre FIA-NET, vous bénéficiez :
		<br />
		<ul>
			<li>d'un accès privilégié à notre plateforme de suivi de litiges ;</li>
			<li>d'un espace membre pour suivre l'évolution de votre dossier et profiter des meilleures offres et bons plans chez nos sites partenaires ;</li>
			<li>d'informations pour bien acheter sur Internet.</li>
		</ul>
	</p>
    <p class="faq-texte">
		<a class="lien" href="{$ESPACEMEMBRE}" >N'hésitez plus, devenez membre</a>.
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="8"><b>Comment faire pour participer à la tombola FIA-NET ?</b></span>
		<br />
		FIA-NET offre un accès libre à sa tombola en cliquant sur <a class="lien" href="{$TOMBOLA}" >ce lien</a>.
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="9"><b>Je ne vis pas en France. Puis-je quand même profiter du service Sceau de Confiance FIA-NET en faisant mes courses sur les sites partenaires ? </b></span>
		<br />
		Oui, dans le cas de transactions chez nos partenaires depuis l'étranger, vous bénéficiez de notre service. En effet, le site souscrit le service Sceau de Confiance FIA-NET pour tous ses internautes, quel que soit le lieu où ils se trouvent. 
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="10"><b>Comment puis-je gérer mes questionnaires ? </b></span>
		<br />
		Dans votre Espace Membre, retrouvez l'intégralité de vos questionnaires reçus lors des 12 derniers mois. 
		<br />
		Vous pouvez :
		<ul>
			<li>répondre aux questionnaires auxquels vous n'avez pas encore répondu ;</li>
			<li>supprimer les questionnaires auxquels vous avez déjà répondu.</li>
		</ul>
	</p>
    <p class="faq-texte">
		Pour accéder à votre Espace Membre, connectez-vous avec vos identifiants ou, si vous n'avez pas encore de compte, cliquez sur "<a class="lien" href="{$URLS.ESPACEMEMBRE}">S'inscrire</a>", vous recevrez ensuite vos identifiants par e-mail. 
		<br />
		<br />
	</p>
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
	<p class="faq-titre-question">
		Vos questions et nos réponses sur les sites partenaires de FIA-NET :
    </p>
    <p class="faq-texte">
		<span id="11"><b>Où puis-je trouver la liste des sites partenaires de FIA-NET ?</b></span>
		<br />
		Vous trouverez la liste complète des sites partenaires de FIA-NET dans <a class="lien" href="{$ANNUAIRE}">les pages Annuaires</a> de notre site.
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="12"><b>Combien y a-t-il de sites partenaires de FIA-NET ?</b></span>
		<br />
		Plusieurs centaines de sites vous proposent le service Sceau de Confiance FIA-NET. Et ils ne cessent de croître...
		<br />
		Pour les découvrir tous, <a class="lien" href="{$ANNUAIRE}">consultez notre annuaire</a>.
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
	<p class="faq-titre-question">
		En cas de problème :
    </p>	
    <p class="faq-texte">
		<span id="13"><b>Je n'ai pas reçu de questionnaire</b></span>
		<br />
		Vous avez vécu une expérience de consommation chez l’un de nos partenaires et vous n'avez pas reçu de questionnaire de satisfaction ? Tout d'abord, vérifiez dans vos spams si, le jour de votre commande, un e-mail provenant de FIA-NET ne s'y trouve pas. Si ce n'est pas le cas, remplissez le formulaire situé dans votre <a class="lien" href="{$URLS.ESPACEMEMBRE}questionnaires_demande.php">Espace Membre</a>. Vous devez également nous faire parvenir les informations de votre commande telles que le nom du site marchand, le numéro de commande, son montant ainsi qu'une preuve de consommation afin que nous puissions vous renvoyer un questionnaire.
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
	<p class="faq-titre-question">
		Vos questions et nos réponses sur le phishing :
    </p>
    <p class="faq-texte">
		<span id="phishing1"><b>Qu'est-ce qu'un e-mail de phishing ?</b></span>
		<br />
		Le phishing (« hameçonnage ») est une attaque qui consiste à copier de manière presque parfaite des e-mails et/ou des sites officiels dans le but de récupérer des informations personnelles (identifiants et mots de passe de comptes bancaires, numéros de CB, etc.) pour les utiliser dans un autre contexte (fraude à la CB et usurpation d'identité en majorité).
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="phishing2"><b>Quelles sont les différences entre un e-mail de phishing et un e-mail FIA-NET ?</b></span>
		<br />
		En général les e-mails de phishing peuvent se reconnaitre grâce aux critères suivants :
		<br />
		<ul>
			<li>un caractère d'urgence ;</li>
			<li>de nombreuses fautes d'orthographe ou de syntaxe ;</li>
			<li>une absence d'accents ;</li>
			<li>ils sont souvent impersonnels (cher adhérent…).</li>	
		</ul>
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
    <p class="faq-texte">
		<span id="phishing3"><b>Comment réagir quand on reçoit un mail de phishing ?</b></span>
		<br />
		Pour vous protéger au maximum du phishing, nous vous recommandons de suivre les conseils suivants :
		<br />
		<ul>
		<li>Ne répondez pas aux e-mails vous demandant la <b>saisie</b> d'informations confidentielles et soyez très méfiant envers les e-mails vous demandant ce type d'informations. <b>Ne remplissez pas un formulaire demandant vos données personnelles dans un message</b> ;</li>
			<li>N'utilisez pas les liens présents dans un message électronique pour télécharger une page Web. Tapez plutôt vous-même ce lien URL dans votre navigateur ;</li>
			<li>Vérifiez vos comptes bancaires régulièrement (y compris les relevés de cartes de débit et de crédit, vos relevés bancaires, etc.) pour vous assurer que toutes vos transactions sont justifiées ;</li>
			<li>Utilisez un antivirus à jour ainsi qu'un firewall et appliquez les correctifs publiés pour colmater les failles de sécurité de votre système d'exploitation ;</li>
			<li>Vérifiez que vous utilisez la dernière version de votre navigateur Web et que tous les correctifs de sécurité ont été installés ;</li>
			<li>Ne pas se fier à l'adresse e-mail de l'expéditeur car il n'est pas possible de vérifier l'authenticité de l'adresse d'expédition.</li>
		</ul>
	</p>
    <p class="faq-texte">
		<b>Si vous avez un doute sur la provenance d'un e-mail FIA-NET, contactez-nous : <a class="lien" href="mailto:infophishing@fia-net.com">infophishing@fia-net.com</a></b>		
		<br />
		<br />
	</p>		
    {% include "SceauBundle:Site/Footer:btnfaq.html.twig" %}
</div>
<div class="main-block-end"></div>
