<div id="bloc_texte">
	<h1>Mentions légales</h1>

	<h2>Coordonnées de la société</h2>
	<p>
		FIA-NET<br />
		3/5 rue Saint-Georges<br />
		75009 PARIS<br />
		Tel : 01 45 23 73 73<br />
		Fax : 01 45 23 05 96<br />
		RCS Paris B 429 121 866
	</p>
	<p>Le cabinet est titulaire de la responsabilité professionnelle et de la garantie financière conformément aux articles L 512-6 et L 512-7 du code des assurances.</p>

	<h2>Exploitant du site</h2>
	<p>
		Le site <a class="lien" href="http://www.fia-net.com">www.fia-net.com</a> est exploité par la société FIA-NET.<br />
		FIA-NET est une Société Anonyme au capital de 1.040.880 &euro;, enregistrée sous le numéro B 429 121 866 au Registre du Commerce et des sociétés de Paris.<br />
		Son siège social est situé au 3/5 rue Saint-Georges - 75009 Paris.
	</p>

	<h2>Direction du site</h2>
	<p>
		<strong class="important">Directeur de la publication</strong><br />
		Pierre Olivier GERVAIS - Directeur Général
	</p>
	<p>
		<strong class="important">Gestion et conception du site Internet</strong><br />
		FIA-NET<br />
		Service informatique<br />
		3/5 rue Saint-Georges<br />
		75009 PARIS
	</p>

	<h2>Fournisseur d'hébergement</h2>
	<p>La société INTERXION FRANCE, société &agrave; responsabilité limitée au capital de 200.000,00 &euro; inscrite au RCS de BOBIGNY sous le numéro B 423 945 799, dont le siège social est situé au 45, Avenue Victor Hugo – B&acirc;timent 260 - 93300 AUBERVILLIERS assure l'hébergement du site <a class="lien" href="http://www.fia-net.com">www.fia-net.com</a>.</p>

	<h2>Conception et réalisation</h2>
	<p><a class="lien" href="http://www.grapheine.com" target="_blank">Agence de communication Graphéine</a> - 3 rue des Montiboeufs 75020 Paris - <a class="lien" href="http://www.grapheine.com" target="_blank">http://www.grapheine.com</a>.</p>

	<h2>Conservation des données de connexions</h2>
	<p>
		FIA-NET s'engage à protéger la vie privée de ses utilisateurs en respectant la réglementation en vigueur (Loi nº78-17 du 6 janvier 1978). FIA-NET utilise des témoins de connexion (cookies) afin d'offrir à ses utilisateurs les meilleurs services possibles, grâce à l'ensemble des fonctionnalités disponibles par Internet.<br />
		Les témoins de connexion (cookies) sont des informations cachées échangées entre un utilisateur Internet et un serveur web, et sauvegardées dans un fichier sur le disque dur de l'utilisateur. Totalement inactif et sécurisé, le cookie est attribué de façon unique à l'ordinateur destinataire et peut être lu uniquement par le serveur FIA-NET émetteur.<br />
		L'utilisateur a la possibilité, en modifiant les paramètres de son navigateur Web, de neutraliser et de refuser les cookies, s'il le souhaite. Dans ce cas, il se peut que l'utilisateur ne puisse pas bénéficier des services de FIA-NET.<br />
		L'internaute est informé que FIA-NET utilise des balises Web. Ce sont des marquages électroniques contenus notamment dans des images situées sur les pages du site FIA-NET et des e-mails. Il s'agit d'une technique utilisée afin de collecter des données statistiques sur l'audience et les visites des pages du site FIA-NET. Ces balises recueillent des données limitées, telles que l'heure, la date de la visite ou l'URL de provenance de l'internaute.
	</p>
</div>
<div class="main-block-end"></div>