<div class="bloc_faq">
	<h1 class="titre">Politique Qualité</h1>
    <p>Au sein de l'équipe Sceau de Confiance FIA-NET, nous visons à améliorer chaque jour la qualité de notre service pour mériter la confiance renouvelée de nos clients.<br />Dans cet esprit, nous nous sommes dotés d'une Politique Qualité qui synthétise nos engagements :</p>
	<h2 class="mini-titre">1. NOUS NOUS ENGAGEONS A APPORTER AUX E-COMMERÇANTS PARTENAIRES ET AUX INTERNAUTES UN SERVICE DE QUALITE IRREPROCHABLE&nbsp;:</h2>
	<p>
		<ul>
			<li>En donnant la possibilité aux véritables consommateurs de s'exprimer sur leurs expériences d'achats en ligne</li>
			<li>En fournissant aux internautes une information impartiale, non soumise à la censure</li>
			<li>En garantissant la confidentialité des informations relatives aux utilisateurs</li>
		</ul>
	</p>
	<h2 class="mini-titre">2. NOUS PLAÇONS L'ECOUTE DE NOS CLIENTS ET DE NOS PARTENAIRES AU CENTRE DE NOS PREOCCUPATIONS&nbsp;:</h2>
	<p>
		<ul>
			<li>En leur garantissant une réponse personnalisée à leurs questions et à leurs requêtes</li>
			<li>En communiquant auprès d'eux en toute transparence sur les évolutions de notre service</li>
		</ul>
	</p>
	<h2 class="mini-titre">3. NOUS CONSTRUISONS NOTRE POLITIQUE MANAGERIALE AUTOUR DES AMBITIONS DE QUALITE DE SERVICE DU SCEAU DE CONFIANCE FIA-NET&nbsp;:</h2>
	<p>
		<ul>
			<li>En mobilisant nos collaborateurs autour d'une démarche d'amélioration continue</li>
			<li>En veillant à leur écoute et à leur satisfaction, leviers de la satisfaction de nos clients</li>
		</ul>
	</p>	
    <p>Pour le Sceau de confiance FIA-NET, la qualité est une ambition quotidienne. Elle donne son sens à notre engagement et est garante de notre réputation.</p>
	<p><a class="lien" target="_blank" href="{{ path('site_politique_downald') }}">Téléchargez la version PDF de notre Politique Qualité</a></p>
</div>
<div class="main-block-end"></div>