<div id="bloc_texte">
	<h1>Charte de protection des données Sceau de confiance</h1>
	<p>Cette charte de protection des données à caractère personnel fixe la manière dont les données à caractère personnel des utilisateurs du site Internet <a href="http://www.fia-net.com" class="lien" target="_blank">www.fia-net.com</a> et de l'application dédiée sont traitées. Les utilisateurs du site et de l'application sont susceptibles de communiquer à FIA-NET, des données à caractère personnel les concernant en renseignant les formulaires ou questionnaires présents sur le site ou l'application. Ces données pourront faire l'objet de traitement, automatisé ou non, au sens de la loi Informatique et Libertés du 6 janvier 1978 modifiée, dans les conditions attachées à chaque formulaire ou questionnaire.</p>

	<h2>Données collectées</h2>
	<p>Pour accéder à certaines fonctionnalités du site ou de l'application, vous devez communiquer à FIA-NET certaines données personnelles. Les données personnelles susceptibles d'être collectées incluent la civilité, le prénom et le nom de famille, l'adresse postale, l'adresse e-mail, le(s) numéro(s) de téléphone, l'identifiant et le mot de passe et toute autre donnée personnelle utile dans le cadre des finalités décrites ci-après. En tout état de cause, les données à caractère personnel collectées se limitent aux données nécessaires pour les finalités décrites dans la présente charte.</p>
	<p>Vous êtes libre de fournir ou non tout ou partie de vos données personnelles à FIA-NET. Le caractère obligatoire de la communication des informations est indiqué par la présence d'un astérisque ou par tout autre procédé équivalent. Si vous choisissez de ne pas les fournir, certains services et certaines fonctionnalités du site pourraient ne pas fonctionner.</p>

	<h2>Responsable du traitement et finalités</h2>
	<p>Les données à caractère personnel collectées via les formulaires ou questionnaires figurant sur le site ou l'application sont destinées à FIA-NET, en sa qualité de responsable du traitement. Ces données seront utilisées pour les finalités suivantes : traitement de votre demande, utilisation des services associés à un compte FIA-NET, l'établissement de statistiques, prospection et animation commerciale.</p>

	<h2>Modalités d'exercice de vos droits</h2>
	<p>
		Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique aux fichiers et aux libertés, vous pouvez, à tout moment accéder aux informations vous concernant, les faire rectifier, les faire mettre à jour ou faire supprimer les données inexactes, incomplètes ou périmées et de vous opposer, sous réserve de justifier d'un motif légitime, à ce que des données à caractère personnel vous concernant fassent l'objet d'un traitement. Cette opposition peut toutefois entraîner l'impossibilité pour FIA-NET de fournir le service souscrit.<br />
		Vous pouvez, sans avoir à motiver votre demande, vous opposer à ce que ces données soient utilisées à des fins de prospection commerciale ou communiquées à des tiers à cette fin.<br />
		Ces droits peuvent être exercés  en écrivant par lettre simple à FIA-NET à l'adresse suivante :
	</p>
	<p>
		FIA-NET<br />
		Correspondant Informatique et Libertés<br />
		3/5 rue Saint-Georges<br />
		75009 Paris
	</p>
	<p>ou par courrier électronique à l'adresse <a href="mailto:cil@fia-net.com" class="lien">cil@fia-net.com</a></p>

	<h2>Utilisation des données à des fins de prospection</h2>
	<p>Conformément à la réglementation applicable, toute prospection par courrier électronique, SMS, ainsi que toute cession ou location des données à des fins de prospection utilisant ces moyens, ne seront réalisées qu'avec votre consentement préalable à recevoir des prospections via ce canal ou/et à la cession de ses données.</p>
	<p>Si vous acceptez de recevoir de tels messages de prospection en cochant les cases d'acceptation prévues à cet effet sur le site ou l'application, il vous sera possible à tout moment de revenir sur ce consentement, et notamment chacun des courriers électroniques de prospection vous offrira la possibilité de vous opposer pour le futur à l'envoi de nouveaux courriers électroniques de prospection par FIA-NET.</p>
	<p>A tout moment et sans frais, vous pouvez vous opposer à toute prospection en écrivant aux contacts mentionnés au paragraphe « Modalités d'exercice de vos droits ».</p>

	<h2>Sécurité</h2>
	<p>Notre préoccupation est de préserver la qualité et l'intégrité de vos données à caractère personnel. Les technologies et les politiques de sécurité appliquées par FIA-NET permettent de protéger vos données à caractère personnel contre tout accès non autorisé, toute utilisation impropre.</p>
	<p>FIA-NET a pris des mesures de protection physiques, électroniques et organisationnelles pour prévenir toute perte, mauvaise utilisation, accès ou diffusion non autorisé, altération ou destruction éventuelle de ces données personnelles. Toutefois, malgré nos efforts pour protéger vos données personnelles, FIA-NET ne peut pas garantir l'infaillibilité de cette protection en raison de risques inévitables pouvant survenir lors de la transmission de données personnelles.</p>
	<p>Toutes les Données Personnelles étant confidentielles, leur accès est limité aux collaborateurs et  prestataires de FIA-NET qui en ont besoin dans le cadre de l'exécution de leur mission. Toutes les personnes qui ont accès aux données personnelles sont tenues par une obligation de confidentialité et s'exposent à des mesures disciplinaires et/ou autres sanctions si elles ne respectent pas ces obligations.</p>
	<p>Nous vous invitons à faire preuve de prudence pour empêcher tout accès non autorisé à vos données personnelles. Vous êtes responsable de la confidentialité de votre mot de passe et des informations figurant dans votre compte. Par conséquent, vous devez vous assurer de fermer votre session en cas d'utilisation partagée d'un même ordinateur.</p>

	<h2>Cookies</h2>
	<p>Les utilisateurs du site et de l'application sont informés que, lors de l'accès au site ou à l'application, des informations peuvent être temporairement conservées en mémoire sur leur disque dur afin de faciliter la navigation.</p>
	<h3>Qu'est-ce qu'un cookie ?</h3>
	<p>Un cookie est un petit fichier qui enregistre les paramètres Internet. Il est téléchargé via un navigateur lorsque vous visitez pour la première fois un site Web. Lorsque vous retournez sur ce site à l'aide du même ordinateur, le navigateur peut vérifier si un cookie correspondant est présent  et utiliser les données contenues dans ce cookie pour les transmettre au site.</p>
	<h3>Cookies utilisés et leurs finalités</h3>
	<p>FIA-NET utilise XiTi, la solution de mesure d'audience et de statistiques pour les sites web proposée par la société AT Internet. La politique de respect de la vie privée de la société AT Internet est accessible via le lien <a href="http://www.atinternet.com/politique-du-respect-de-la-vie-privee/" class="lien" target="_blank">http://www.atinternet.com/politique-du-respect-de-la-vie-privee/</a> . Les informations collectées via l'outil de mesure d'audience et de statistiques XiTi permettent de mesurer le nombre de visites, le nombre de pages vues, l'activité des visiteurs sur le site ainsi que leur fréquence de retour afin de mieux d'adapter le site aux demandes des visiteurs et d'améliorer l'intérêt et l'ergonomie de nos services.</p>
	<p>FIA-NET  utilise également des cookies de session permettant de maintenir la connexion à l'espace membre lorsque le membre est connecté. Les cookies de session permettent de reconnaitre le nom d'utilisateur et le mot de passe que vous avez déjà fournis afin que vous n'ayez pas à les fournir à nouveau sur chaque page web qui en ferait la demande.</p>
	<p>FIA-NET  utilise enfin des cookies permettant d'enregistrer la langue choisie par les utilisateurs.</p>
	<p>Les utilisateurs du site sont informés que des cookies sont créés par les réseaux sociaux (Facebook, Twitter) pour qu'ils puissent reconnaitre les visiteurs.</p>
	<p>En continuant d'utiliser le Site internet et l'application en connaissance des informations détaillées ci-dessus, vous acceptez expressément l'utilisation par FIA-NET de tels cookies.</p>
	<h3>Contrôler et supprimer les cookies</h3>
	<p>Pour contrôler les cookies, la plupart des navigateurs vous permettent d'accepter ou de rejeter tous les cookies, de n'accepter que certains types de cookies ou vous pose la question chaque fois qu'un site souhaite enregistrer un cookie. Il est également facile de supprimer les cookies qui ont été enregistrés sur votre ordinateur par un navigateur.</p>
	<p>Vous pouvez vous s'opposer à l'installation de cookies sur votre ordinateur, tablette ou smartphone en configurant votre navigateur Internet de la manière suivante :</p>
	<p>Pour Safari : Choisir le menu « Edition » puis « Préférences » et Cliquer sur l'icône « Sécurité » ; Sélectionner les options relatives aux cookies souhaitées.</p>
	<p>Pour Mozilla Firefox : Choisir le menu « Outil » puis « Options » et Cliquer sur l'icône « Vie privée » ; Sélectionner les options relatives aux cookies souhaitées.</p>
	<p>Pour Microsoft Internet Explorer 6, 7 ou 8 (Microsoft) : Choisir le menu « Outils », puis « Options Internet » et Cliquer sur l'onglet « Confidentialité » ;  Sélectionner le niveau souhaité à l'aide du curseur.</p>
	<p>Pour Microsoft Internet Explorer 9 : Choisir le menu « Outils », puis « Options Internet » et Cliquer sur l'onglet « Confidentialité » ; sous « Paramètres », déplacer le curseur vers le haut pour bloquer tous les cookies ou vers le bas pour autoriser tous les cookies, avant de cliquer sur OK.</p>
	<p>Pour Chrome : Choisir le menu « Paramètres », puis « Confidentialité » et Cliquer sur l'onglet « Paramètres de contenu » ; Sélectionner les options relatives aux cookies souhaitées.</p>
	<p>Pour Netscape 6.X et 7. X : Choisir « Edition », « Préférences »,  puis  Confidentialité et Sécurité / Cookies.</p>
	<p>Pour Opéra 6.0 et au-delà : choisir « Fichier », « Préférences »,  puis « Vie Privée ».</p>
	<p>Si vous n'autorisez pas l'installation des cookies nécessaires à la connexion au site Internet ou à l'application, certaines fonctionnalités et caractéristiques du site ou de l'application pourraient ne pas fonctionner correctement et vous pourriez ne pas être en mesure de pouvoir accéder à certains services.</p>
</div>
<div class="main-block-end"></div>