<div id="bloc_texte">
	<h1>Qui est FIA-NET ?</h1>
	<p>Notre métier est d'assurer un climat de confiance entre consommateurs et professionnels sur Internet.</p>
	<p><strong class="important">Le logo FIA-NET est un sceau de transparence</strong> qui vous permet de bénéficier d'un service d'information unique lorsque vous effectuez une transaction sur des sites détenteurs de ce sceau. Son but est de vous aider à distinguer les professionnels les plus fiables, en affichant leurs performances, obtenues par notation de leurs clients.</p>
	<p>Plus d'un millier de sites affichent notre logo !</p>

	<h2>FIA-NET pour vos achats en ligne</h2>
	<p>Les internautes qui font leurs achats sur nos sites partenaires bénéficient de :</p>
	<ul class="puce">
		<li>la mise à disposition <strong class="important">d'éléments d'identification du site</strong> et de l'engagement de l'e-commerçant de mettre à disposition de FIA-NET <strong class="important">un interlocuteur privilégié</strong> en cas de litige avec leurs clients&nbsp;;</li>
		<li>un <strong class="important">accès aux performances du site</strong> grâce aux témoignages d'acheteurs suite à la livraison. Pour les meilleurs sites, FIA-NET décerne <a class="lien" href="{$pagepremium}" title="Cliquez ici pour afficher l'ensemble des sites premium FIA-NET">son logo « Premium »</a>&nbsp;;</li>
		<li>la <strong class="important">mise à disposition de notre service amiable de déclaration et de gestion des litiges</strong>. Il permet aux clients de se renseigner sur leurs droits et de suivre l'évolution des litiges sur leur espace membre.</li>
	</ul>
	<p>Toutes les performances des sites en matière de résolution des litiges sont ainsi suivies par nos services, par le marchand et par l'internaute.</p>
	<p><i>Nota Bene</i> : Les services FIA-NET ne sont pas une garantie d'assurance qui vous permettrait d'être remboursé en cas de litige non résolu, faillite ou dépôt de bilan du site... FIA-NET vous fournit les informations les plus récentes possibles sur la qualité des sites : <strong class="important">c'est pourquoi il est primordial de consulter les notes d'un site avant d'acheter</strong>. Ces dernières ne peuvent être une garantie absolue du bon déroulement de votre achat.</p>

	<h2>FIA-NET - un succès unique en France</h2>
	<p>Cette approche connaît un grand succès : des centaines de sites ont souscrit les services FIA-NET pour rassurer leurs visiteurs. De grands sites leaders du e-commerce sont nos clients depuis plusieurs années.</p>

	<p>
		Vous avez un site e-commerce et vous souhaitez bénéficier de nos services ?<br />
		Rendez-vous sur notre <a class="lien" href="http://fia-net-group.com/sceau.html" target="_blank">espace pro</a>.
	</p>
</div>
<div class="main-block-end"></div>