{% extends 'SceauBundle:Admin:layout.html.twig' %}

{% block CONTENT -%}

    <div class="page-content page-content-ease-in">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>
            <li><a href="javascript:;">UI Elements</a></li>
            <li class="active">Buttons</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Article <small>édition de l'article</small></h1>
        <!-- end page-header -->

        <div class="row">
            <!-- begin col-8 -->
            <div class="col-md-6">
                <div class="panel panel-inverse" data-sortable-id="ui-buttons-1"->
                    <div class="panel-heading">
                        <h4 class="panel-title">Modifier un article</h4>
                    </div>
                    <div class="panel-body">
                        {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form(edit_form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
