<div class="contenu-espace-membre-avec-menu">
    <div class="mon_compte">
 
        <p class="mon-compte-titre">Vos informations personnelles</p>
        Pour modifier vos informations personnelles
        <div id="bouton_coord" class="btn-espace-membre-inline" style="margin-left:114px;">
            <div class="btn-1-main">
                <a onclick="showFormulaire('coord');
                        return false;" href="#" class="btn-1-link">MODIFIER</a>
            </div>
            <div class="btn-1-end"></div>
        </div>
        
        
        <div id="div_form_coord" style="display:none;" class="mon-compte-div-hidden">
            Si des informations sont inexactes, manquantes, ou ont changé, il vous suffit de les renseigner puis de valider ce formulaire.<br />
            <span style="color:#FF0000;">Seuls les champs suivis d'un * sont obligatoires.</span><br />
            <br />
            {% include "SceauBundle:Site/Membre:updateinformation.html.twig" %}
        </div>

        <hr class="mon-compte-separation-petite" />

        Pour ajouter des adresses e-mail
        <div id="bouton_emails_supp" class="btn-espace-membre-inline" style="margin-left:172px;">
            <div class="btn-1-main">
                <a onclick="showFormulaire('emails_supp');
                        return false;" href="#" class="btn-1-link">MODIFIER</a>
            </div>
            <div class="btn-1-end"></div>
        </div>
        
        
        <div id="div_form_emails_supp" style="display:none;" class="mon-compte-div-hidden">
            {% include "SceauBundle:Site/Membre:addEmail.html.twig" %}
        </div>
        
        
        <hr class="mon-compte-separation-grande" />
        <p class="mon-compte-titre">Vos identifiants de connexion</p>
        Pour modifier votre adresse e-mail (login)
        <div id="bouton_login" class="btn-espace-membre-inline" style="margin-left:127px;">
            <div class="btn-1-main">
                <a onclick="showFormulaire('login');
                        return false;" href="#" class="btn-1-link">MODIFIER</a>
            </div>
            <div class="btn-1-end"></div>
        </div>
        
        
        <div id="div_form_login" style="display:none;" class="mon-compte-div-hidden">
             {% include "SceauBundle:Site/Membre:updateEmailPrincipale.html.twig" %}
        </div>

        <hr class="mon-compte-separation-petite" />

        Pour modifier votre mot de passe
        <div id="bouton_password" class="btn-espace-membre-inline" style="margin-left:170px;">
            <div class="btn-1-main">
                <a onclick="showFormulaire('password');
                        return false;" href="#" class="btn-1-link">MODIFIER</a>
            </div>
            <div class="btn-1-end"></div>
        </div>
        
        
        <div id="div_form_password" style="display:none;" class="mon-compte-div-hidden">
                
            {% include "SceauBundle:Site/Membre:updatePassword.html.twig" %}

        </div>


        <hr class="mon-compte-separation-grande" />


        <p class="mon-compte-titre">Suppression de vos données personnelles</p>
        <p>Si vous souhaitez avoir un récapitulatif ou supprimer votre compte, <a href="#" class="lien">cliquez-ici</a>.</p>

    </div>

    {% include "SceauBundle:Site/Common:dataprotection.html.twig" %}

</div>
<div class="contenu-espace-membre-avec-menu-end"></div>

{% if app.session.get('confirmation') is defined and app.session.get('confirmation') is not null %}
    {% if app.session.get('success') is defined and app.session.get('success') == 'AjoutEmail' %}
        {% set title = 'Modification effectuée avec succès'%}
        {% set description = 'Vous allez recevoir un e-mail à l\'adresse indiquée.
            Pour valider définitivement cette adresse, merci de cliquer sur le lien de confirmation présent dans le contenu de l\'e-mail.' %}
        {% set action = path('site_home_membre_compte') %}
    {% elseif app.session.get('success') is defined and app.session.get('success') == 'EmailPrincipale' %}
        {% set title = 'Modification effectuée avec succès'%}
        {% set description = 'Votre nouveau login a bien été enregistré. Cependant, il n\'est pas actif pour l\'instant.
                    Afin de le valider, merci de cliquer sur le lien de confirmation qui vient de vous être envoyé par e-mail.' %}
        {% set action = path('site_home_membre_compte') %}
    {% elseif app.session.get('success') is defined and app.session.get('success') == 'Passwrod' %}
        {% set title = 'Modification effectuée avec succès'%}
        {% set description = 'Votre mot de passe a bien été modifié.
Vous allez recevoir un e-mail contenant votre nouveau mot de passe. Merci de le conserver dans vos archives.' %}
        {% set action = path('site_home_membre_compte') %}
    {%endif%}
    
    
    {% import "SceauBundle:Site/Popup:success.html.twig" as forms %} 
        {{ forms.input(title, description, action) }}
{% endif %}


 {% javascripts
            'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
            'bundles/sceau/js/site/user/strength.js'
 %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            <script>
$(document).ready(function($) {
	
$('#myPassword').strength({
            strengthClass: 'strength',
            strengthMeterClass: 'strength_meter',
            strengthButtonClass: 'button_strength',
        });
});
</script>
{% endjavascripts %}