<form id= "security-password" name="form_password" method="POST" action="{{path('site_membre_update_pwd')}}">
    <label for="password_actuel" style="margin-left:107px;">Mot de passe actuel : </label>
    <input type="password" name="password_actuel" id="password_actuel" size="20" maxlength="255" required="true" onchange="checkPassword()"  data-path="{{path('site_member_check_pwd')}}"/>
        <a class="bloc_infobulle" href="#">
            <img src="{{ asset('bundles/sceau/images/site/home-membre/question-info-bulle.png') }}" alt="infobulle" />
            <span>
                        Pour étre le plus sécurisé possible, votre mot de passe doit faire au minimum 7 caractéres et au maximum 15 caractéres.
            </span>
        </a>
        <br />
        <br />
    <label for="password_nouveau" style="margin-left:92px;">Nouveau mot de passe : </label>
    <input type="password" name="password_nouveau" id="myPassword" size="20" maxlength="255" onkeyup="" /><br />
    <br />
    <label for="conf_password_nouveau">Confirmation du nouveau mot de passe : </label>
    <input type="password" name="conf_password_nouveau" id="conf_myPassword" size="20" maxlength="255" />
    <div class="btn-espace-membre-inline">
       <div class="btn-1-main">
            <input type="submit" value="Valider" class="btn-home-regiter" /> 
        </div>
        <div class="btn-1-end"></div>
    </div>
</form>

