 <form name="form_login" method="POST" action="{{path('site_member_update_email_principale')}}">
    <label for="email" style="margin-left:99px;"> 
        E-mail : 
    </label>
    <input type="email" name="email" id="email_principale" maxlength="255" size="50" id="email" /><br />
    <br />
    <label for="conf_email">
        Confirmation de l'E-mail : 
    </label>
    <input type="email" name="conf_email" id="conf_email_principale" maxlength="255" size="50"  />
    <div class="btn-espace-membre-inline">
    <div class="btn-1-main">
        <input type="submit" value="Valider" class="btn-home-regiter" /> 
    </div>

    <div class="btn-1-end"></div>
    </div>
</form>