{% extends 'SceauBundle:Emails/Litiges/Internaute:base_internaute.html.twig' %}

{% block subject %}
	Enregistrement de votre litige #LITIGEID#
{% endblock %}

{% block body %}
	#MEMBRE#&sbquo;<br /><br />
	Nous avons bien pris note de votre d&eacute;claration de litige.<br /><br />
	Celui-ci va dor&eacute;navant &ecirc;tre g&eacute;r&eacute; par notre service de gestion de litiges.<br />
	<br />
	A chaque mise &agrave; jour de votre dossier&sbquo; un e-mail vous sera envoy&eacute; pour vous inviter &agrave; venir vous connecter sur votre <a target="_blank"  style="color: #52AE35;" style="color:#913935;" href="http://logi118.xiti.com/go.url?xts=487123&s2=5&xtor=EPR-5-[litige_internaute_enregistrement_litige_traitement_auto]--[Espace_membre]&url=https://www.fia-net.com/membre/">espace membre</a>.
{% endblock %}