{% extends 'SceauBundle:Emails/Litiges/Internaute:base_internaute.html.twig' %}

{% block subject %}
	Votre litige {{ litige.id }}
{% endblock %}

{% block body %}
	{{ membre }}&sbquo;<br /><br />
	Vous n&#39;avez pas mis &agrave; jour votre dossier alors que diff&eacute;rentes actions pour le poursuivre ou le clore vous &eacute;taient propos&eacute;es.<br /><br />
	Nous attirons votre attention sur le fait que si vous ne mettez pas &agrave; jour votre dossier dans les 3 jours qui suivent l&#39;envoi de ce courrier &eacute;lectronique&sbquo; nous estimerons que celui-ci est r&eacute;gl&eacute;.<br />
	Il sera donc clos et plus aucune action le concernant ne sera possible.<br /><br />
	Si vous souhaitez mettre &agrave; jour votre dossier ou nous signaler son r&egrave;glement, nous vous prions de bien vouloir vous connecter &agrave; votre <a target="_blank"  style="color: #52AE35;" style="color:#913935;" href="http://logi118.xiti.com/go.url?xts=487123&s2=5&xtor=EPR-5-[litige_internaute_mailavantcloture]--[Espace_membre]&url=https://www.fia-net.com/membre/">espace membre</a>.
{% endblock %}