{% extends 'SceauBundle:Emails\Membres:base_membre.html.twig' %}

{% block title %}ESPACE MEMBRE{% endblock %}
{% block subject %}Mot de passe oublié{% endblock %}

{% block body %}
	<td colspan="4" align="left" style="line-height:normal">
		<table width="480" align="center" border="0" cellspacing="0" cellpadding="0"  style="line-height:normal">
			<tr style="line-height:normal">
				<td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;">
					<strong>##PRENOM##,</strong>
					<br /><br />
				</td>
			</tr>
			<tr style="line-height:normal">
				<td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;">
					Vous avez oublié votre mot de passe ?<br /><br />
				</td>
			</tr>
			<tr style="line-height:normal">
				<td style="line-height:normal">
					<table width="300" border="0" align="center" cellpadding="15" cellspacing="0" style="color:#7c7979; line-height:normal;">
						<tr>
							<td align="center" style="font-family:Verdana, Geneva, sans-serif; font-size:13px;"><strong style="color:#dd0131">Voici le nouveau :</strong><br />
							<strong>##PASSWORD##</strong></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="line-height:normal">
				<td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;"><br />Ce mot de passe est g&eacute;n&eacute;r&eacute; automatiquement. Je suppose qu'il ne vous plaira pas, vous pourrez le modifier dans la rubrique « Mon compte » de votre espace membre.</td>
			</tr>									
			<tr style="line-height:normal">
				{% include 'SceauBundle:Emails/Membres:block_dont_forget.html.twig' %}
			</tr>  
		</table>
	</td>
{% endblock %}