{% trans_default_domain 'site_home_tombola' %}
<div class="tombola-main">
        <h1 class="titre">{% trans %}titre_tombola{% endtrans %}</h1>
        {% trans %}tombola_success_part1{% endtrans %} {{participation}}  
        {% trans %}tombola_success_part2{% endtrans %}
        <a class="lien" href="#" >www.fia-net.com</a>
        {% trans %}tombola_success_part3{% endtrans %}
        (<a class="lien" href="#" onclick="">{% trans %}reglement_tombola{% endtrans %}</a>)
        {% trans %}tombola_success_part4{% endtrans %}
        <a class="lien" href="#" >{% trans %}redirect_espace_membre{% endtrans %}</a>.
        {% trans %}tombola_success_part5{% endtrans %}
    </div>