<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Sceau de confiance</title>
	</head>
	<body bgcolor="#aea3a7" style="margin:0px; padding:0px; background-color:#aea3a7;">
		<table width="560" border="0" align="center" cellpadding="0" cellspacing="0" style="line-height:normal">
			<tr style="line-height:normal">
				<td bgcolor="#FFFFFF" style="border:#a3939a solid 1px; line-height:normal">
					<table align="center" width="520" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
						<tr style="line-height:normal">
							<td height="15" colspan="4" align="left" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/pixel.png" width="1" height="1" alt="vide" /></td>
						</tr>
						<tr style="line-height:normal">
							<td width="354" align="left" style="line-height:normal"><a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[membre_bienvenue]--[Homepage]&url=http://www.fia-net.com/" ><img src="http://www.fia-net.com/img/emails/logo_fianet.png" width="140" height="38" alt="FIA-NET.com" border="0" /></a></td>
							<td width="52"  align="right" style="line-height:normal"><a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=5&xtor=EPR-5-[membre_bienvenue]--[EspaceMembre]&url=https://www.fia-net.com/membre/login.php" ><img src="http://www.fia-net.com/img/emails/pict_esp-mbre.png" alt="Espace Membre" width="37" height="52" border="0" /></a></td>
							<td width="62"  align="right" style="line-height:normal"><a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=8&xtor=EPR-5-[membre_bienvenue]--[Newsletter]&url=https://www.fia-net.com/membre/newsletter.php" ><img src="http://www.fia-net.com/img/emails/pict_newsletter.png" alt="Archives Newsletter" width="47" height="52" border="0" /></a></td>
							<td width="52" align="right" style="line-height:normal"><a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=3&xtor=EPR-5-[membre_bienvenue]--[SitesPremium]&url=http://www.fia-net.com/annuaire/all/liste_1-103-311.html" ><img src="http://www.fia-net.com/img/emails/pict_site-premium.png" alt="Sites Premium" width="37" height="52" border="0" /></a></td>
						</tr>
						<tr style="line-height:normal">
							<td colspan="4" align="left" style="line-height:normal">
								<table border="0" align="right" cellpadding="0" cellspacing="0" width="480" style="line-height:normal">
									<tr style="line-height:normal">
										<td align="left" height="98" style="line-height:normal; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; color:#3e262b; font-size:12px;"><strong style="font-size:17px; line-height:12px;">ESPACE MEMBRE</strong><br />Bienvenue &Agrave; vous !</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr style="line-height:normal">
							<td colspan="4" align="left" style="line-height:normal">
								<table width="480" align="center" border="0" cellspacing="0" cellpadding="0"  style="line-height:normal">
									<tr style="line-height:normal">
										<td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;"><strong>Bonjour {{pseudo}},</strong><br />
											<br />Je suis Charlie, et je serai votre interlocutrice privil&eacute;gi&eacute;e pour toutes les communications entre le Sceau de Confiance FIA-NET et vous.<br />
											Au nom de toute l'&eacute;quipe, je vous souhaite la bienvenue dans <strong>VOTRE</strong> nouvelle communaut&eacute; !!
										<br />&nbsp;</td>
									</tr>
									<tr style="line-height:normal">
										<td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;"><strong>Pour bien d&eacute;buter, voici vos identifiants de connexion &agrave; l'espace membre :</strong><br />
											<table width="100%" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
												<tr style="line-height:normal">
													<td width="35" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">&nbsp;</td>
													<td width="10" height="22" valign="middle" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/chevron.png" width="10" height="11" alt="chevron" /></td>
													<td height="22" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Identifiant : <strong>{{email}}</strong></td>
												</tr>
												<tr style="line-height:normal">
													<td width="35" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">&nbsp;</td>
													<td width="10" height="22" valign="middle" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/chevron.png" width="10" height="11" alt="chevron" /></td>
													<td height="22" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;">Mot de passe : <strong>{{pwd}}</strong></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr style="line-height:normal">
										<td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;">
											<br />
											Savez-vous que vous venez d'int&eacute;grer la communaut&eacute; d'acheteurs la plus active de France ?*
											<br />
											<br />
											<strong>Passons aux choses s&eacute;rieuses, et d&eacute;couvrons  ce que vous r&eacute;serve votre espace membre :</strong><br />
											<br />
											<table width="476" height="245" background="http://www.fia-net.com/img/emails/visu_block-recap.png" align="center" border="0" cellspacing="0" cellpadding="0" style="line-height:normal; background-position:left; background-repeat:no-repeat; font-family:Verdana, Geneva, sans-serif; color:#7c7979; font-size:10px;">
												<tr style="line-height:normal">
													<td height="6" colspan="6" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/pixel.png" width="1" height="1" /></td>
												</tr>
												<tr style="line-height:normal">
													<td width="9" height="70" style="line-height:normal">&nbsp;</td>
													<td width="9" height="70" style="line-height:normal">&nbsp;</td>
													<td width="191" rowspan="2" style="line-height:normal">
														<table width="159" border="0" align="center" cellpadding="0" cellspacing="0" style="line-height:normal">
															<tr style="line-height:normal">
																<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:bold; color:#dd0131; text-align:center; font-weight:bold;">Questionnaires :</td>
															</tr>
															<tr style="line-height:normal">
																<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#7c7979; text-align:justify">après achat, vous pourrez consulter tous vos questionnaires répondus et non répondus !</td>
															</tr>
														</table>
													</td>
													<td width="64" height="70" style="line-height:normal">&nbsp;</td>
													<td width="191" height="70" style="line-height:normal"><table width="159" border="0" align="center" cellpadding="0" cellspacing="0" style="line-height:normal">
														<tr style="line-height:normal">
															<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:bold; color:#dd0131; text-align:center; font-weight:bold;">Bons plans :</td>
														</tr>
														<tr style="line-height:normal">
															<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#7c7979; text-align:justify">des exclusivités FIA-NET pour acheter malin, et vous faire économiser !
															&nbsp;</td>
														</tr>
													</table></td>
													<td width="9" height="70" style="line-height:normal">&nbsp;</td>
												</tr>
												<tr style="line-height:normal">
													<td width="9" height="12" style="line-height:normal">&nbsp;</td>
													<td width="9" height="12" style="line-height:normal">&nbsp;</td>
													<td width="64" height="12" style="line-height:normal">&nbsp;</td>
													<td width="191" height="12" style="line-height:normal">&nbsp;</td>
													<td width="9" height="12" style="line-height:normal">&nbsp;</td>
												</tr>
												<tr style="line-height:normal">
													<td width="9" height="14" style="line-height:normal">&nbsp;</td>
													<td width="9" height="14" style="line-height:normal">&nbsp;</td>
													<td width="191" height="14" style="line-height:normal">&nbsp;</td>
													<td width="64" height="14" style="line-height:normal">&nbsp;</td>
													<td width="191" height="14" style="line-height:normal">&nbsp;</td>
													<td width="9" height="14" style="line-height:normal">&nbsp;</td>
												</tr>
												<tr style="line-height:normal">
													<td width="9" height="6" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/pixel.png" width="1" height="1" /></td>
													<td width="9" height="6" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/pixel.png" width="1" height="1" /></td>
													<td width="191" height="6" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/pixel.png" width="1" height="1" /></td>
													<td width="64" height="6" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/pixel.png" width="1" height="1" /></td>
													<td width="191" rowspan="4" style="line-height:normal"><table width="159" border="0" align="center" cellpadding="0" cellspacing="0" style="line-height:normal">
														<tr style="line-height:normal">
															<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:bold; color:#dd0131; text-align:center; font-weight:bold;">Espace litiges :</td>
														</tr>
														<tr style="line-height:normal">
															<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#7c7979; text-align:justify">en cas de litige avec un site partenaire, notre service de médiation vous aide à trouver une solution. Vous influerez directement sur l'indice de résolution des litiges, et donc sur l'Indice de Satisfaction de l'e-commerçant.</td>
														</tr>
													</table></td>
													<td width="9" height="6" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/pixel.png" width="1" height="1" /></td>
												</tr>
												<tr style="line-height:normal">
													<td width="9" height="58" style="line-height:normal">&nbsp;</td>
													<td width="9" height="58" style="line-height:normal">&nbsp;</td>
													<td width="191" height="58" style="line-height:normal"><table width="159" border="0" align="center" cellpadding="0" cellspacing="0" style="line-height:normal">
														<tr style="line-height:normal">
															<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:bold; color:#dd0131; text-align:center; font-weight:bold;">Tombola :</td>
														</tr>
														<tr style="line-height:normal">
															<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#7c7979; text-align:justify">tenter de gagner jusqu'à 100&euro; en chèques cadeaux !&nbsp;</td>
														</tr>
													</table></td>
													<td width="64" height="58" style="line-height:normal">&nbsp;</td>
													<td width="9" height="58" style="line-height:normal">&nbsp;</td>
												</tr>
												<tr style="line-height:normal">
													<td width="9" height="21" style="line-height:normal">&nbsp;</td>
													<td width="9" height="21" style="line-height:normal">&nbsp;</td>
													<td width="191" height="21" style="line-height:normal">&nbsp;</td>
													<td width="64" height="21" style="line-height:normal">&nbsp;</td>
													<td width="9" height="21" style="line-height:normal">&nbsp;</td>
												</tr>
												<tr style="line-height:normal">
													<td width="9" height="58" style="line-height:normal">&nbsp;</td>
													<td width="9" height="58" style="line-height:normal">&nbsp;</td>
													<td width="191" height="58" style="line-height:normal"><table width="159" border="0" align="center" cellpadding="0" cellspacing="0" style="line-height:normal">
														<tr style="line-height:normal">
															<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:bold; color:#dd0131; text-align:center; font-weight:bold;">Aide à l'achat en ligne :</td>
														</tr>
														<tr style="line-height:normal">
															<td align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#7c7979; text-align:justify">une multitude de conseils pour acheter sans risque !</td>
														</tr>
													</table></td>
													<td width="64" height="58" style="line-height:normal">&nbsp;</td>
													<td width="9" height="58" style="line-height:normal">&nbsp;</td>
												</tr>
											</table>
											<br />
											<strong>Une derni&egrave;re chose !</strong><br />
											Bien que je sois persuad&eacute;e que cela n'arrivera pas, sachez que vous pouvez supprimer &agrave; tout moment votre compte dans la rubrique « Mon compte ».
										</td>
									</tr>
									<tr style="line-height:normal">
										<td colspan="4" align="left" style="line-height:normal">
											<table width="480" align="center" border="0" cellspacing="0" cellpadding="0"  style="line-height:normal">
												<tr style="line-height:normal">
													<td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;">&nbsp;<br />
														<a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[membre_bienvenue]--[Homepage]&url=http://www.fia-net.com/"  style="text-decoration:none; border:none;">
														<table align="center" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
															<tr style="line-height:normal">
																<td width="59" align="right" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/picto_bull.png" width="59" height="46" alt="bulle" border="0" style="line-height:normal; margin:0px; padding:0px; display:block;" /></td>
																<td style="line-height:normal">
																	<table border="0" cellpadding="0" cellspacing="0" width="370"  style="line-height:normal">
																		<tr style="line-height:normal">
																			<td height="44" bgcolor="#f0f0f0" style="line-height:12px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#3e262b; border-bottom:#a3939a solid 1px; border-top:#a3939a solid 1px; border-right:#a3939a solid 5px;">Et n'oubliez pas...<br />
																				Avant d'acheter sur un site e-commerce**, vérifiez sa note FIA-NET !<br />
																			Comme vous, des millions d'acheteurs ont déjà donné leur avis !</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>  
								</table>
							</td>
						</tr>
						<tr style="line-height:normal">
							<td height="115" colspan="4" align="left" style="line-height:normal">
								<table border="0" align="center" cellpadding="0" cellspacing="0" width="480" style="line-height:normal">
									<tr style="line-height:normal">
										<td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:left; padding-top:20px;">
											<span style="color:#C00000; font-weight:bold;">Restez connectés :</span> Le Sceau de Confiance est maintenant disponible sur votre mobile&nbsp;! <br />
											<b>En ayant toujours votre compagnon shopping dans la poche, oubliez les mauvaises surprises&nbsp;!</b>
											<br />
											<br /><b>A télécharger sur :</b>
											<br />
											<a target="_blank"  href="https://itunes.apple.com/fr/app/fia-net/id691062185?mt=8" ><img src="http://www.fia-net.com/img/emails/logoDispo_applestore.jpg" alt="Apple Store" width="70" height="23" border="0" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank"  href="https://play.google.com/store/apps/details?id=com.fianet.sceau.mobile&hl=fr" ><img src="http://www.fia-net.com/img/emails/logoDispo_googleplay.jpg" alt="Google Play" width="70" height="23" border="0" /></a>
										</td>
									</tr>										
									<tr style="line-height:normal">
										<td height="85" style="line-height:normal; font-family:Arial, Helvetica, sans-serif;	color:#3e262b; font-size:12px;">
											A tr&egrave;s bient&ocirc;t sur notre site !<br />
											<br />Charlie,<br />du <strong>Sceau de Confiance <a target="_blank"  href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[membre_bienvenue]--[Homepage]&url=http://www.fia-net.com/"  style="text-decoration:none; font-weight:bold; color:#dd0131;">FIA-NET</a></strong>.
										</td>
									</tr>
									<tr style="line-height:normal">
										<td style="color:#808080; line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:10px; text-align:left; padding-bottom:10px;">
											FIA-NET obtient la certification NF Service &laquo; Avis en ligne des consommateurs &raquo;. <a target="_blank" style="color:#808080; font-weight:bold;"  href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[membre_bienvenue]--[certification_afnor_avis_en_ligne]&url=http://www.fia-net.com/annuaire/certification-afnor.php" >En savoir plus</a>.
										</td>
									</tr>										
								</table>
							</td>
						</tr>
						<tr style="line-height:normal">
							<td colspan="4" align="left" style="line-height:normal">
								<table align="center" width="475" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
									<tr style="line-height:normal">
										<td style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:10px; font-style:italic;">* FIA-NET est la premi&egrave;re source d'avis d'acheteurs de France concernant des e-commerçants.<br />
											** Consultez la liste des sites partenaires &eacute;valu&eacute;s sur <a target="_blank"   href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[membre_bienvenue]--[Homepage]&url=http://www.fia-net.com/" style="color:#52ae35;">www.fia-net.com</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<br />
					<table border="0" cellpadding="0" cellspacing="0" class="footer" style="line-height:normal">
						<tr style="line-height:normal">
							<td height="1" bgcolor="#e7e3e4" valign="top" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/bar_rge.png" width="558" height="1" alt="barre rouge" border="0" style="margin:0px; padding:0px; line-height:normal; border:none; display:block;" /></td>
						</tr>
						<tr style="line-height:normal">
							<td height="24" align="center" bgcolor="#e7e3e4" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#524249;">FIA-NET 3/5 rue Saint-Georges 75 009 Paris / <a target="_blank"   href="http://logi118.xiti.com/go.url?xts=487123&s2=1&xtor=EPR-5-[membre_bienvenue]--[Homepage]&url=http://www.fia-net.com/" style="color:#52ae35;">www.fia-net.com</a> / RCS Paris 429 121 866</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="line-height:normal">
				<td height="35" align="center" style="font-family:Arial, Helvetica, sans-serif; color:#524249; font-size:11px; line-height:normal;">Pour &ecirc;tre s&ucirc;r de recevoir tous nos emails, ajoutez <a target="_blank"  href="mailto:##MAIL_EXPEDITEUR##" style="color:#524249;">##MAIL_EXPEDITEUR##</a> &agrave; votre carnet d'adresses.</td>
			</tr>
			<tr style="line-height:normal">
				<td align="center" style="font-family:Arial, Helvetica, sans-serif; color:#524249; font-size:10px; line-height:normal;">Conform&eacute;ment &agrave; la loi Informatique et Libert&eacute;s du 6 janvier 1978, vous disposez &agrave; tout moment, d'un droit d'acc&egrave;s, de rectification, et d'opposition &agrave; l'ensemble de vos donn&eacute;es personnelles en &eacute;crivant, par courrier et en justifiant de votre identit&eacute;, &agrave; FIA-NET - Informatique et Libert&eacute;s, Traitement 896 150 - 3/5 rue Saint-Georges, 75009 PARIS.
				</td>
			</tr>
			<tr>
				<td align="center" style="font-size: 10px; text-align: center; font-family:Arial, Helvetica, sans-serif;">
					<p style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:10px;"><a target="_blank"  style="color:#524249;"  href="https://www.fia-net.com/membre/desabonnement_fia-net.php">Se désabonner</a></p>
				</td>
			</tr>			
		</table>
		<img width='1' height='1' alt='' src='http://logi118.xiti.com/hit.xiti?s=487123&xto=EPR-5-[membre_bienvenue]--[]&type=email&' />
	</body>
</html>